@charset "UTF-8";

#business >.business-item{
	display: none;
}
#business >.business-item.on{
	display: block;
}

/*地址异常*/
.group .offer-box{
	position: relative;
	width: 100%;
    max-width: 100%;
	height: 400px;
	background: url('/Images/bg_abnormal.jpg') center center no-repeat;
    background-size: cover;
}

.group .offer-box .offer-cell{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 75%;
    height: 200px;
    margin: auto;
    padding: 20px;
	background-color: rgba(167,69,87,.8);
	color: #fff;
	text-align: center;
}

.group .offer-box .offer-cell>h2{
	margin-top: 7vh;
	font-size: .4rem;
}
.group .offer-box .offer-cell>p{
	margin-top: 15px;
	font-size: .15rem;
}

.group .hang-box{
	position: relative;
	width: 100%;
    max-width: 100%;
	height: 400px;
	background: url('/Images/bg_hang.jpg') center center no-repeat;
    background-size: cover;
}

.group .hang-box .hang-cell{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 75%;
    height: 200px;
    margin: auto;
    padding: 20px;
	background-color: rgba(138,181,215,.8);
	color: #fff;
	text-align: center;
}

.group .hang-box .hang-cell>h2{
	margin-top: 7vh;
	font-size: .4rem;
}
.group .hang-box .hang-cell>p{
	margin-top: 15px;
	font-size: .15rem;
}


.group .overview-box{
	position: relative;
	width: 100%;
    max-width: 100%;
	height: 40vh;
	color: #fff;
	background: url('/Images/bg_abnormal.jpg') center center no-repeat;
    background-size: cover;
}
.group .overview-box .overview-cell{
	padding: 10px;
	text-align: center;
}
.line-height{
	line-height: 20vh;
}
.group .overview-box .overview-cell>h2{
	display: inline-block;
	font-size: .4rem;
}
.group .overview-box .overview-cell>h3{
	display: block;
	overflow: hidden;
	line-height: 50px;
	font-size: .16rem;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.group .overview-box .overview-cell.bg-overview{
	background-color: rgba(74,117,137,.8);
}
.group .overview-box .overview-cell ul li{
	float: left;
	width: 50%;
}

.group .overview-box .overview-cell ul li .bottom-cell{
	display: block;
	padding: 15px;
	text-align: center;
}
.group .overview-box .overview-cell ul li .bottom-cell.left-border{
	border-left: 2px solid #fff;
}

.group .overview-box .overview-cell ul li .bottom-cell div{
	display: table;
	width: 150px;
	line-height: 80px;
	margin: auto;
}
.group .overview-box .overview-cell ul li .bottom-cell div .iconfont{
	display: table-cell;
	vertical-align: middle;
	font-size: .52rem;
}
.group .overview-box .overview-cell ul li .bottom-cell div span{
	display: inline-block;
	font-size: .2rem;
}

/*服务流程*/

.group .process-box li{
	float: left;
	width: 14.28%;
}
.group .process-box li .process-cover{
	position: relative;
}

.group .process-box li .process-cover {
	display: block;
	padding: 15px;
	color: #a6a6a6;
}
.group .process-box li .process-cover .iconfont{
    font-size: .48rem;
}
.group .process-box li .process-cover h3{
	width: 80px;
	padding: 10px;
	border-bottom: 1px solid #a6a6a6;
	font-size: .18rem;
}
.group .process-box li .process-cover p{
	overflow: hidden;
	margin-top: 10px;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.group .process-box li .process-cover .next-tag{
    position: absolute;
    right: 0;
    top: 50%;
    color: #39BDED;
    font-size: .32rem;
}


/*需要准备的材料*/

.group .datum-box{
	width: 500px;
	margin: 25px auto;
}

.group .datum-box li{
	float: left;
	width: 50%;
	text-align: center;
}

.group .datum-box li .step-box{
	display: inline-block;
	margin: 15px;
	width: 150px;
}

.group .datum-box li .step-box.sm-box{
	width: 120px;
}
.group .info-box{
	margin-top: 15px;
	text-align: center;
}
.group .info-box .tag{
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-right: 10px;
	background-color: #21bfed;
    border-radius: 50%;
    color: #fff;
}

.group .info-box span + span{
	margin-left: 25px;
}

.group .obtain-box{
	width: 800px;
	margin: 25px auto;
}

.group .obtain-box li{
	float: left;
	width: 33.3333333%;
}

.group .obtain-box li .obtain-cover .head{
	line-height: 55px;
	background-color: #bf7501;
	color: #fff;
	font-size: .18rem;
	text-align: center;

}
.group .obtain-box li .obtain-cover .obtain-cell{
	display: block;
	padding: 25px 20px;
	min-height: 182px;
	border: 1px solid #dddddd;
	text-align: center;
}

.group .obtain-box li .obtain-cover .obtain-cell p{
	margin: 10px;
	color: #666666;
}

.group .register-box{
	position: relative;
	width: 100%;
    max-width: 100%;
	height: 400px;
	color: #fff;
	background: url('/Images/bg_register.jpg') center center no-repeat;
    background-size: cover;
}
.group .register-box  {
	padding: 70px 20px;
}
.group .register-box .sm-cell{
	width: 350px;
	margin: auto;
	padding: 0 20px;
	line-height: 55px;
	color: #fff;
	text-align: center;
}

.group .register-box .sm-cell.bg-register {
	background-color: rgba(18,59,78,.8);
}

.group .register-box .lg-cell{
	margin: 40px auto;
	padding: 0 20px;
	color: #436e82;
	font-size: .48rem;
	letter-spacing: 3px;
	text-align: center;
}

.group .path-box li{
	float: left;
	width: 16.6666666%;
}
.group .path-box .path-cover {
	position: relative;
	padding: 15px;
	color: #a6a6a6;
	text-align: center;
}
.group .path-box .path-cover .iconfont{
	font-size: .48rem;
}

.group .path-box .path-cover .next-tag{
	position: absolute;
    right: 0;
    top: 50%;
	color: #000;
    font-size: .2rem;
}
.group .path-box .path-cover p{
	margin-top: 10px;
}

/*注册公司准备材料*/
.group .worth-box li{
	float: left;
	width: 20%;
	padding: 15px;
}

.group .worth-box li .worth-cover{
	display: block;
	position: relative;
	height: 280px;
	padding: 20px;
	background-color: #f7f7f7;
	text-align: center;
}

.group .worth-box li .worth-cover:hover{
    box-shadow: 0 0 15px rgba(0,0,0,.1);
}
.group .worth-box li .worth-cover:before{
    display: block;
	position: absolute;
    top: 0;
    left: 50%;
    width: 50px;
    height: 2px;
    margin-left: -25px;
    background-color: #39bfef;
    content: '';
}

.group .worth-box li .worth-cover .worth-avatar{
	display: inline-block;
	width: 100%;
	margin-top: 30px;
}

.group .worth-box li .worth-cover p{
	overflow : hidden;
	margin-top: 30px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

/*变更服务*/
.group .change-box li{
	float: left;
	width: 16.666666%;
	padding: 15px;
}

.group .change-box li .change-cover{
	padding: 25px 15px;
	border-top: 1px solid #6DABDA;
	text-align: center;
    box-shadow: 0 0 15px rgba(0,0,0,.1);
    cursor: pointer;
}
.group .change-box li .change-cover:hover{
	-webkit-box-shadow: 0 0 15px rgba(0,0,0,.3);
}
.group .change-box li .change-cover .iconfont{
	color: #6DABDA;
	font-size: .48rem;
}

.group .change-box li .change-cover p{
	margin-top: 15px;
}
.group .setout-box{
	display: block;
	width: 60%;
	margin: auto;
}

/*多种地址选择*/
.group .sele-box li{
	float: left;
	width: 50%;
}

.group .sele-box li .sele-cover{
	display: block;
	height: 250px;
	margin: 10px 60px;
	padding:20px;
	color: #7c7c7c;
	text-align: center;
	background-color: #f3f3f3;
}

.group .sele-box li .sele-cover .iconfont{
	display: inline-block;
	font-size: .64rem;
	margin: 35px auto;
}

.group .sele-box li .sele-cover>h3{
	font-size: .18rem;
}

.group .sele-box li .sele-cover>p{
	margin-top: 5px;
	color: #6dabda;
}