@charset "UTF-8";

#business >.business-item{
	display: none;
}
#business >.business-item.on{
	display: block;
}

/*地址异常*/
.group .offer-box{
	position: relative;
	width: 100%;
    max-width: 100%;
	height: 400px;
	background: url('/Images/bg_abnormal.jpg') center center no-repeat;
    background-size: cover;
}

.group .offer-box .offer-cell{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 600px;
    height: 200px;
    margin: auto;
    padding: 20px;
	background-color: rgba(167,69,87,.8);
	color: #fff;
	text-align: center;
}

.group .offer-box .offer-cell>h2{
	margin-top: 25px;
	font-size: .5rem;
}
.group .offer-box .offer-cell>p{
	margin-top: 15px;
	font-size: .15rem;
}

.group .overview-box{
	position: relative;
	width: 100%;
    max-width: 100%;
	height: 400px;
	color: #fff;
	background: url('/Images/bg_abnormal.jpg') center center no-repeat;
    background-size: cover;
}
.group .overview-box .overview-cell{
	height: 200px;
	text-align: center;
}
.line-height{
	line-height: 200px;
}
.group .overview-box .overview-cell>h2{
	display: inline-block;
	font-size: .4rem;
}
.group .overview-box .overview-cell>h3{
	display: inline-block;
	line-height: 65px;
	font-size: .16rem;
}
.group .overview-box .overview-cell.bg-overview{
	background-color: rgba(74,117,137,.8);
}
.group .overview-box .overview-cell ul li{
	float: left;
	width: 50%;
}

.group .overview-box .overview-cell ul li .bottom-cell{
	display: block;
	padding: 15px;
	text-align: center;
}
.group .overview-box .overview-cell ul li .bottom-cell.left-border{
	border-left: 2px solid #fff;
}

.group .overview-box .overview-cell ul li .bottom-cell div{
	display: table;
	width: 150px;
	line-height: 80px;
	margin: auto;
}
.group .overview-box .overview-cell ul li .bottom-cell div .iconfont{
	display: table-cell;
	vertical-align: middle;
	font-size: .52rem;
}
.group .overview-box .overview-cell ul li .bottom-cell div span{
	display: inline-block;
	font-size: .2rem;
}

/*服务流程*/

.group .process-box li{
	float: left;
	width: 14.28%;
}
.group .process-box li .process-cover{
	position: relative;
}

.group .process-box li .process-cover {
	display: block;
	padding: 15px;
}
.group .process-box li .process-cover .iconfont{
    font-size: .48rem;
}

.group .process-box li .process-cover .next-tag{
    position: absolute;
    right: 0;
    top: 50%;
    color: #39BDED;
    font-size: .32rem;
}

/*多种地址选择*/
.group .sele-box li{
	float: left;
	width: 50%;
}

.group .sele-box li .sele-cover{
	display: block;
	height: 250px;
	margin: 10px 60px;
	padding:20px;
	color: #7c7c7c;
	text-align: center;
	background-color: #f3f3f3;
}

.group .sele-box li .sele-cover .iconfont{
	display: inline-block;
	font-size: .64rem;
	margin: 35px auto;
}

.group .sele-box li .sele-cover>h3{
	font-size: .18rem;
}

.group .sele-box li .sele-cover>p{
	margin-top: 5px;
	color: #6dabda;
}