@charset "UTF-8";
html {
    font-size: 100px
}

body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: 'Hiragino Sans GB','微软雅黑',arial,sans-serif;
    color: #333;
    font-weight: 400;
    background: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    font-smoothing: antialiased
}

i,b {
    font-weight: 400;
    font-style: normal
}

a {
    color: #333;
    text-decoration: none!important;
    -webkit-transition: all .3s ease-in-out 0s;
    -moz-transition: all .3s ease-in-out 0s;
    -ms-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s
}

a:link {
    text-decoration: none
}

h3 {
    margin-top: 0!important
}

ol,ul {
    margin-top: 0;
    margin-bottom: 0
}

p {
    margin-bottom: 0
}

.text_overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.of {
    overflow: hidden;
}

.ov {
    overflow: visible!important
}

a {
    -webkit-transition: all .1s ease-in-out 0s;
    -moz-transition: all .1s ease-in-out 0s;
    -ms-transition: all .1s ease-in-out 0s;
    transition: all .1s ease-in-out 0s
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: 0
}

a:hover {
    color: #eb0000
}

img {
    width: 100%
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'iconfont' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

/*
***********************
*以上公共样式
***********************
*/

.wrapper{
    width: 1190px;
    padding: 20px;
    margin: 30px auto 50px;
    border: 1px solid #e6e6e6;
}

.content {
    width: 1190px;
    margin: 35px auto;
}

.header {
    position: relative;
    width: 100%;
    height: 80px;
    background-color: #fff;
    border-bottom: 1px solid #e8e8e8;
    -webkit-transition: all 1s ease-in-out 0s;
    -moz-transition: all 2s ease-in-out 0s;
    -ms-transition: all 2s ease-in-out 0s;
    transition: all 2s ease-in-out 0s
}

.header .content {
    margin: 0 auto;
}

.header .head{
    width: 1190px;
    height: 80px;
    line-height: 80px;
    margin: 0 auto;
}
.header >.head>span{
    display: table;
    height: 80px;
    line-height: 80px;
}
.header >.head>span >i {
    display: table-cell;
    font-size: 28px;
    vertical-align: middle;
}
.header >.head>span >label{
    margin-bottom: 0;
    margin-left: 10px;
}

.header .logo{
    float: left;
    width: 140px;
    margin-left: 15px;
}

.top {
    position: relative;
    width: 100%;
    height: 70px;
    background-color: #fff;
    z-index: 1000;
}


.top .nav{
    width: 1190px;
    height: 70px;
    line-height: 70px;
    margin: 0 auto;
}

.top .nav .nav-links {
    float: left;
}

.top .nav .nav-links .links {
    position: relative;
    float: left;
    padding: 20px 15px;
}
.top .nav .nav-links .links:hover{
    /*box-shadow: inset 0 -4px 0 0 #0287e9;*/
}

.top .nav .nav-links .links a{
    display: block;
    padding: 0 15px;
    font-size: .16rem;
    line-height: 30px;
    border: 1px solid #fff;
    border-radius: 30px;

}
.top .nav .nav-links .links:hover a {
    background-color: #39bfef;
    color: #fff;
    border: 1px solid #39bfef;
    border-radius: 30px;
}
.top .nav .nav-links .on a{
    background-color: #39bfef;
    color: #fff;
    border: 1px solid #39bfef;
    border-radius: 30px;
}

.top .nav .nav-btn {
    position: absolute;
    display: none;
    top: 0;
    right: 20px;
}
.top .nav .nav-btn i:before{
    font-size: .24rem;
    color: #333;
}

/*子页banner*/
.banner {
    width: 100%;
    height: auto;
    overflow: hidden
}

.banner .mobile-banner {
    display: none
}

/*副标题*/
.tabs {
    position: relative;
    margin-top: 25px;
}

.tabs>.tab{
    display: inline-block;
    float: left;
    position: relative;
    padding: 15px 20px;
    cursor: pointer;
}

.tabs>.tab.on{
    background-color: #21BFED;
    color: #fff;
} 

.tabs>.tab.on:before,.tabs>.tab.on:after{
    content: ' ';
    position: absolute;
    height: 0;
    width: 0;
    top: 100%;
    border: 10px solid; 
    border-color: #21BFED transparent transparent transparent;
}


.tabs>.tab.on:before{
    left: 45%;
}
.tabs>.tab.on:after{
    left: 45%;
}

/*三角*/
.caret {
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 8px solid;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    vertical-align: middle;
}

/*专业*/

.img-box{
    overflow: hidden;
    width: 100%;
    height: 471px;
}

.content.pd15{
    padding: 0 15px;
}

.reg-box{
    position: relative;
    padding: 20px;
    background-color: #F5F5F5;
}

.reg-box li{
    position: relative;
    float: left;
    overflow: hidden;
    width: 25%;
}

.reg-box li>div>.iconfont{
    display: block;
    font-size: 36px;
}

.reg-box li>div>h3{
    display: inline-block;
    padding-right: 20px;
    line-height: 36px;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
}

.reg-box li>div>p{
    margin-top: 10px;
    color: #737373;
}

/*底部*/

footer{
    height: 350px;
    background-color: #333;
}

.footer{
    position: relative;
    width: 1190px;
    height: 350px;
    padding-top: .1px;
    margin: auto;
}

.footer .bottom-list {
    float: left;
    margin: 30px 0 30px;
}

.footer .bottom-list li {
    float: left;
    width: 120px;
    height: 190px;
    padding: 0 15px;
}

.footer .bottom-list li p{
    line-height: 30px;
    color: #fcfcfc;
    font-size: .14rem;
    font-weight: 700;
}

.footer .bottom-list li a{
    display: block;
    margin-top: 16px;
    color: #bfbfbf;
    font-size: .12rem;
}

.footer .bottom-list .list-address{
    width: 245px;
}

.footer .weixin-dby{
    position: absolute;
    left: 615px;
    top: 35px;
}

.footer .weixin-dby dd {
    width: 123px;
    height: 123px;
    background: url('../Images/dby.png') center no-repeat;
    background-size: 100%;
}

.footer .weixin-dby dt{
    text-align: center;
    color: #fff;
}

.footer .company-num{
    float: right;
    margin-top: 32px;
    padding: 0 0 20px 40px;
    text-align: left;
    color: #fff;
    box-shadow: -1px 0 0 #454545, -2px 0 0 #212121;
}

.footer .company-num dd{
    margin: 10px 0;
}
.footer .company-num dt{
    font-size: .28rem;
}

.footer .company-num .email{
    float: right;
    width: 120px;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 5px;
    text-align: center;
}

.footer .company-num .email a{
    display: block;
    color: #fff;
}

.footer .bottom-link{
    display: block;
    border-top: 1px solid #464646;
    text-align: center;
    color: #bbb;
}

.footer .bottom-link p a{
    color: #bbb;
}
.footer .bottom-link .copyright a{
    display: inline-block;
    padding-left: 10px;
}

.footer .bottom-link .num-b a{
    display: inline-block;
    padding-left: 25px;
    color: #939393;
    background: url('../Images/ga_ico.png') left no-repeat;
}