@charset "UTF-8";

#culture >.culture-item{
	display: none;
}
#culture >.culture-item.on{
	display: block;
}


.group >.need-box{
	position: relative;
	overflow: hidden;
	margin: 25px 0;
}

.group>.need-box>.img-box{
	float: left;
	width: 140px;
	height: 200px;
	margin-right: 15px;
}

.group>.need-box>.need-info{
	margin: 70px 0;
	line-height: 32px;
}

.group>.ex-box>.ex-item{
	position: relative;
	padding-left: 45px;
	margin-top: 10px;
}	

.group>.ex-box>.ex-item>.tag{
	position: absolute;
	left: 15px;
	top: 5px;
	width: 20px;
	height: 20px;
	line-height: 20px;
	background-color: #a6a6a6;
	color: #fff;
	font-size: 13px;
	text-align: center;
	border-radius: 50%;
}	

.group>.ex-box>.ex-item>p{
	color: #666666;
	line-height: 32px;
}


.group>.call-box{
	margin-bottom: 30px;
	text-align: center;
}
.group>.call-box>.call-cover{
	width: 360px;
	height: 45px;
	margin: 0 auto;
}

.group>.call-box>.call-cover>.call-cell{
	float: left;
	width: 50%;
	line-height: 45px;
	color: #fff;
	text-align: center;
	cursor: pointer;
}

.group>.letter-box{
    position: relative;
    padding: 20px;
}

.group>.letter-box>li{
	float: left;
	width: 25%;
}
.group>.letter-box>li>div{
	margin-left: 30px;
}

.group>.letter-box>li>div>.iconfont{
	margin-left: 30px;
	font-size: 64px;
	color: #6aacdb;
}

.group>.letter-box>li>div>p{
	margin-top: 10px;
	color: #999999;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.group>.version-box{
    position: relative;
    overflow: hidden;
    margin: 25px 0;
}

.group>.version-box li{
	float: left;
	width: 33.333333%;
	padding: 15px;
}

.group>.version-box li>.version-cover{
	display: block;
	position: relative;
	height: 260px;
	padding:20px;
	color: #fff;
	box-shadow: 0 0 15px rgba(0,0,0,.2);
}
.group>.version-box>li:hover>.version-cover{
	box-shadow: 0 0 15px rgba(0,0,0,.5);
}
.group>.version-box li>.version-cover>h3{
	margin-bottom: 15px;
}
.group>.version-box li>.version-cover>p{
	line-height: 32px;
	max-height: 95px;
}
.group>.version-box li>.version-cover>.btn-box{
	position: absolute;
	left: 20px;
	bottom: 20px;
	padding: 10px 20px;
	text-align: center;
	border: 1px solid #fff;
	cursor: pointer;
}

.group>.version-box li>.version-cover>.iconfont{
	position: absolute;
	right: 5px;
	bottom: 0px;
	font-size: 100px;
}

.group>.why-box{
    position: relative;
    overflow: hidden;
    margin: 25px 0;
}

.group>.why-box li{
	float: left;
	width: 25%;
	padding: 15px;
}

.group>.why-box li>.why-cover{
	display: block;
	position: relative;
	height: 180px;
	padding: 20px;
	background: url('/Images/bg_version.jpg') no-repeat top center;
	color: #fff;
}

.group>.why-box li>.why-cover>p{
	display: block;
	position: absolute;
	bottom: 15px;
	left: 0
	line-height: 26px;
}

.group>.how-box{
    position: relative;
    overflow: hidden;
    margin: 25px 0;
}
.group>.how-box li{
	float: left;
	width: 50%;
	padding: 15px;
}
.group>.how-box li>.how-cover{
	display: block;
	position: relative;
	height: 280px;
	border: 1px solid #E3E8F1;
	box-shadow: 0 3px 5px #E3E8F1;
}
.group>.how-box li>.how-cover>.head{
	position: relative;
	height: 55px;
	line-height: 55px;
	background-color: #636885;
	color: #fff;
	font-size: .24rem;
	font-weight: bold;
	text-align: center;
}

.group>.how-box li>.how-cover>.head>.cert{
    position: relative;
	right: 0;
	top: 0;
	float: right;
	width: 0;
    height: 0;
    border-width: 0 40px 40px 0;
    border-style: solid;
    border-color: transparent #31364C transparent transparent;
}
.group>.how-box li>.how-cover>.head>.cert-cover{
	position: absolute;
	right: 0;
	top: 0;
	width: 0;
    height: 0;
    border-width: 0 40px 40px 0;
    border-style: solid;
    border-color: transparent  transparent #636885 transparent;
    z-index: 10;
}

.group>.how-box li>.how-cover>.head>.cert>em{
	position: absolute;
	right: -45px;  
    top: 0; 
	width: 40px;
	line-height: 40px;
	font-size: .26rem;
	text-align: center;
	z-index: 1;
}
.group>.how-box li>.how-cover>.con{
	display: block;
	padding: 15px;
	height: 185px;
}


.article-cell{
	position: relative;
	padding-left: 30px;
}
.article-cell>.tag{
	position: absolute;
    left: 5px;
    top: 5px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    background-color: #a6a6a6;
    color: #fff;
    font-size: 13px;
    text-align: center;
    border-radius: 50%;
}
.article-cell>p{
    color: #666666;
    line-height: 32px;
}


.group>.how-box li>.how-cover>.bottom{
	display: block;
	height: 40px;
}
.group>.how-box li>.how-cover>.bottom>a{
	display: inline-block;
	float: left;
	padding: 0 15px;
	line-height: 40px;
	color: #57C8EC;
}

.group>.bid-box{
	margin-top: 25px;
	padding: 25px;
	background-color: #F5F5F5;
}
.group>.bid-box li{
	float: left;
	width: 20%;
}

.group>.bid-box li>.bid-cover{
	position: relative;
	min-height: 75px;
	padding: 0 15px;
	color: #A6A6A6;
	text-align: center;
}
.group>.bid-box li>.bid-cover>.iconfont{
	font-size: .65rem;
}

.group>.bid-box li>.bid-cover>p{
	margin-top: 10px;
	font-size: .13rem;
}
.group>.bid-box li>.bid-cover>.next-tag{
	position: absolute;
	right: 0;
	top: 50%;
	margin-top: -15px;
	color: #39BDED;
	font-size: .32rem;
}

.group>.possible-box{
	padding: 10px 25px;
}
.group>.possible-box li{
	float: left;
	width: 20%;
}

.group>.possible-box li>.possible-cover{
	width: 150px;
	height: 150px;
	padding: 25px 15px;
	margin: auto;
	text-align: center;
	border: 1px solid #F0F0F0;
	border-radius: 6px;
}

.group>.possible-box li>.possible-cover>.iconfont{
	display: inline-block;
	margin-top: 10px;
	color: #109CE9;
	font-size: .48rem;
}
.group>.possible-box li>.possible-cover>.icon-icp{
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
}
.group>.possible-box li>.possible-cover>p{
	margin-top: 15px;
}

.group .commit-box li, .group .classify-box li{
	float: left;
	width: 33.3333333333%;

}
.group .commit-box li .commit-cover, .group .classify-box li .classify-cover{
	height: 200px;
	padding: 25px; 
	text-align: center;
	cursor: pointer;
}
.group .commit-box li .commit-cover>h3{
	margin-top: 15px;
	font-size: .24rem;
}
.group .commit-box li .commit-cover>p{
	margin-top: 15px;
	line-height: 26px;
	font-size: .15rem;
}

.group .commit-box li .commit-cover .iconfont, .group .classify-box li .classify-cover .iconfont{
	display: inline-block;
	font-size: .48rem;
}
.group .commit-box li:nth-child(odd) .commit-cover,.group .classify-box li:nth-child(odd) .classify-cover{
	background-color: #F5F5F5;
}
.group .commit-box li:nth-child(even) .commit-cover,.group .classify-box li:nth-child(even) .classify-cover{
	background-color: #FBFCFE;
}
.group .commit-box li:nth-child(odd) .commit-cover .iconfont{
	color: #000000;
}
.group .commit-box li:nth-child(even) .commit-cover .iconfont{
	color: #0F9BEA;
}



/*电信增值服务*/
.group .classify-box li .classify-cover> h3{
	margin-top: 25px;
	font-size: .22rem;
}
.group .classify-box li .classify-cover .iconfont{
	margin-top: 25px;
	color: #3191a5;
}


.group .handle-box{
    margin-top: 25px;
    padding: 25px;
    background-color: #F5F5F5;
}

.group .handle-box li{
	float: left;
	width: 25%;
}

.group .handle-box li>.handle-cover{
	display:block;
	padding: 15px;
	text-align: center;
}
.group .handle-box li>.handle-cover>.iconfont{
	font-size: .48rem;
	color: #a6a6a6;
}
.group .handle-box li>.handle-cover>p{
    margin-top: 15px;
    font-size: .18rem;
}

.group .service-box li{
	float: left;
	width: 20%;
}

.group .service-box li>.service-cover{
	display:block;
	padding: 15px;
	text-align: center;
}

.group .service-box li>.service-cover>.img-box{
	width: 120px;
	height: 120px;
	margin: auto;
}



/*流程图*/

.flow-box{
	position: relative;
	margin: 20px 0;
}

.flow-box .flow-cover{
	float: left;
	width: 50%;
}

.flow-box .flow-cover >.head{
	display: block;
	width: 380px;
	height: 45px;
	margin: 0 auto;
	line-height: 45px;
	text-align: center;
	color: #fff;
	font-size: 16px;
}

.flow-box .flow-cover >.flow-cell{
	position: relative;
	width: 380px;
	margin: 20px auto;
}
.flow-box .flow-cover >.flow-cell>.line{
	position: absolute;
	left: 190px;
	height: 560px;
	margin: 20px 0;
	border: 1px dashed #b9b5b5;
}
.flow-box .flow-cover >.flow-cell>li{
	display: block;
	position: relative;
	width: 100%;
	height: 70px;
	z-index: 100;
}
.flow-box .flow-cover >.flow-cell>.left-cell>div>.tag,.right-cell>div>.tag{
	display: inline-block;
	position: absolute;
    top: 15px;
	width: 35px;
	height: 35px;
	line-height: 35px;
	background-color: #b9b5b5;
	text-align: center;
	color: #fff;
	font-size: 18px;
	border-radius: 50%;
}

.flow-box .flow-cover >.flow-cell>li> div{
	position: relative;
	width: 190px;
	line-height: 65px;
}
.flow-box .flow-cover >.flow-cell>.left-cell> div{
	padding-right: 30px;
}

.flow-box .flow-cover >.flow-cell>.right-cell> div{
	padding-left: 30px;
}

.flow-box .flow-cover >.flow-cell>.left-cell>div{
	text-align: right;
}
.flow-box .flow-cover >.flow-cell>.right-cell>div{
	float: right;
	text-align: left;
}
.flow-box .flow-cover >.flow-cell>.left-cell>div>.tag{
	right: -18px;
}

.flow-box .flow-cover >.flow-cell>.right-cell>div>.tag{
	left: -18px;
}
.flow-box .flow-cover >.flow-cell>.center-cell{
	text-align: center;
	height: 105px;
	margin-bottom: 30px;
}
.flow-box .flow-cover >.flow-cell>.center-cell>.lg-tag{
	display: inline-block;
	width: 65px;
	height: 65px;
	line-height: 65px;
	background-color: #39bfef;
	text-align: center;
	color: #fff;
	font-size: 36px;
	border-radius: 50%;
}
.flow-box .flow-cover >.flow-cell>.center-cell>p{
	line-height: 36px;
	background-color: #fff;
}

.flow-box .vs{
  	position: absolute; 
  	top: 0; 
  	left: 0; 
  	bottom: 0; 
  	right: 0; 
  	overflow: auto; 
  	width: 60px; 
  	height: 65px; 
  	margin: auto; 
}

