@charset "UTF-8";

#property >.property-item{
	display: none;
}
#property >.property-item.on{
	display: block;
}

.group .solve-box li{
	float: left;
	width: 25%;
	padding: 10px;
}

.group .solve-box li .solve-cover{
	display: block;
	height: 250px;
	padding: 25px;
	background-color: #FFFFFF;
	text-align: center;
	box-shadow: 0 0 15px rgba(0,0,0,.1);
}

.group .solve-box li:nth-child(even) .solve-cover .img-box{
	width: 120px;
}

.group .solve-box li .solve-cover .img-box{
	width: 100px;
	height: 100px;
	margin: auto;
}

.group .solve-box li .solve-cover h3{
	margin-top: 25px;
	font-size: .18rem;
}

.group .solve-box li .solve-cover p{
	margin-top: 10px;
}

.group .want-box li{
	float: left;
	width: 20%;
	padding: 25px 15px;
}

.group .want-box li .want-cover{
	display: block;
	padding: 15px;
	text-align: center;
}

.group .want-box li .want-cover .img-box{
	display: inline-block;
}
.group .want-box li:last-child .want-cover .img-box{
    width: 100px;
}

.group .want-box li .want-cover h3{
	margin-top: 25px;
	font-size: .18rem;
}

.group .enroll-box{
	width: 500px;
	margin: auto;
}

.group .demand-box .demand-cover{
	float: left;
	width: 50%;
	padding: 15px;
}
.group .demand-box .demand-cover .demand-name{
    width: 100%;
    height: 55px;
    line-height: 55px;
    background-color: #97d0fb;
    color: #fff!important;
    text-align: center!important;
    font-size: .18rem;
}
.group .demand-box .demand-cover:hover .demand-name{
	background-color: #3889ff;
}
.group .demand-box .demand-cover ul{
	padding: 10px 0;
	background-color: #f7f7f7;
}

.group .demand-box .demand-cover ul li{
	padding: 10px 20px;
    line-height: 25px;
    font-size: .16rem;
    color: #666;

}
.group .means-box li{
	width: 50%;
	float: left;
	padding: 20px;
}

.group .means-box li .means-cover{
	display: block;
	padding: 15px;
	background-color: #f6f6f6;
}

.group .means-box li .means-cover .means-name{
	margin-bottom: 10px;
	color: #1e5165;
	font-weight: bold;
	font-size: 0.18rem;
}
.group .means-box li .means-cover p{
	line-height: 28px;
}

.group >.get-box{
	position: relative;
	overflow: hidden;
	margin: 25px 0;
}

.group> .get-box> .img-box{
	float: left;
	width: 140px;
	height: 200px;
	margin-right: 15px;
}

.group .aegis-box li{
	width: 25%;
	float: left;
	padding: 15px;
}

.group .aegis-box li .aegis-cover{
	display: block;
	padding: 25px 15px;
	text-align: center;
	background-color: #efefef;
	box-shadow: 6px 6px 3px rgba(0,0,0,.1);

}

.group .aegis-box li .aegis-cover .aegis-img{
	display: inline-block;
	width: 116px;
	height: 116px;
}

.group .aegis-box li .aegis-cover h3{
	margin-top: 15px;
	font-size: .18rem;
}

.group .brand-box{
	position: relative;
	width: 100%;
    max-width: 100%;
	height: 400px;
	background: url('/Images/bg_trade.jpg') center center no-repeat;
    background-size: cover;
}
.group .brand-box .brand-name{
   	height: 180px;
   	line-height: 210px;
	color: #1A9698;
	text-align: center;
}
.group .brand-box .brand-name>h2{
	display: inline-block;
	font-size: .5rem;
}

.group .brand-box .brand-info{
   	height: 220px;
	background-color: rgba(120,215,243,.8);
	color: #fff;
	text-align: center;
}

.group .brand-box .brand-info li{
	float: left;
	width: 33.33333%;
	padding: 15px;
}

.group .brand-box .brand-info li .brand-cover{
	padding: 25px;
}
.group .brand-box .brand-info li + li .brand-cover{
	border-left: 2px solid #fff;
}
.group .brand-box .brand-info li .brand-cover .iconfont{
	font-size: .52rem;
}
.group .brand-box .brand-info li .brand-cover>h2{
	margin-top: 16px;
	font-size: .18rem;
}
.group .brand-box .brand-info li .brand-cover>p{
	margin-top: 10px;
	font-size: .15rem;
}

.group .constitute-box li{
	float: left;
	width: 33.33333%;
	padding: 15px;
}

.group .constitute-box li .constitute-cover{
	display: block;
	padding-left: 25px;
	text-align: center;
}

.group .constitute-box li .constitute-cover .bg-iconfont{
	display: inline-block;
	width: 100px;
	height: 100px;
	line-height: 125px;
	color: #fff;
	text-align: center;
	background-color: #28DAFE;
	border-radius: 50%;
}

.group .constitute-box li .constitute-cover .bg-iconfont .iconfont{
	font-size: .48rem;
}

.group .constitute-box li .constitute-cover h3{
	margin-top: 15px;
	font-size: .24rem;
}

.group .constitute-box li .constitute-cover p{
	margin-top: 15px;
}

.group .wander-box li{
	float: left;
	width: 20%;
	padding: 15px;
}

.group .wander-box li .wander-cover {
	display: block;
	position: relative;
	padding: 15px;
	text-align: center;
}
.group .wander-box li .wander-cover .bg-iconfont{
	display: inline-block;
	width: 100px;
	height: 100px;
	line-height: 125px;
	color: #28DAFE;
	text-align: center;
	border: 1px solid #28DAFE;
	border-radius: 50%;
}
.group .wander-box li .wander-cover .iconfont{
	font-size: .48rem;
}
.group .wander-box li .wander-cover h3{
	margin-top: 15px;
	font-size: .20rem;
}

.group .wander-box li .wander-cover p{
	margin-top: 15px;
}
.group .wander-box li .wander-cover .wander-next{
	position: absolute;
	top: 25%;
	right: 0;
	font-size: .24rem;
}