@charset "UTF-8";

#property >.property-item{
	display: none;
}
#property >.property-item.on{
	display: block;
}

.group .solve-box li{
	float: left;
	width: 25%;
	padding: 10px;
}

.group .solve-box li .solve-cover{
	display: block;
	height: 250px;
	padding: 25px;
	background-color: #FFFFFF;
	text-align: center;
	box-shadow: 0 0 15px rgba(0,0,0,.1);
}

.group .solve-box li:nth-child(even) .solve-cover .img-box{
	width: 120px;
}

.group .solve-box li .solve-cover .img-box{
	width: 100px;
	height: 100px;
	margin: auto;
}

.group .solve-box li .solve-cover h3{
	margin-top: 25px;
	font-size: .18rem;
}

.group .solve-box li .solve-cover p{
	margin-top: 10px;
}

.group .want-box li{
	float: left;
	width: 20%;
	padding: 25px 15px;
}

.group .want-box li .want-cover{
	display: block;
	padding: 15px;
	text-align: center;
}

.group .want-box li .want-cover .img-box{
	display: inline-block;
    min-width: 75px;

}
.group .want-box li:last-child .want-cover .img-box{
    max-width: 100px;
}

.group .want-box li .want-cover h3{
	margin-top: 25px;
	font-size: .18rem;
}

.group .enroll-box{
	width: 500px;
	margin: auto;
}

.group .demand-box .demand-cover{
	float: left;
	width: 50%;
	padding: 15px;
}
.group .demand-box .demand-cover .demand-name{
    width: 100%;
    height: 55px;
    line-height: 55px;
    background-color: #97d0fb;
    color: #fff!important;
    text-align: center!important;
    font-size: .18rem;
}
.group .demand-box .demand-cover:hover .demand-name{
	background-color: #3889ff;
}
.group .demand-box .demand-cover ul{
	padding: 10px 0;
	background-color: #f7f7f7;
}

.group .demand-box .demand-cover ul li{
	padding: 10px 20px;
    line-height: 25px;
    font-size: .16rem;
    color: #666;

}
.group .means-box li{
	width: 50%;
	float: left;
	padding: 20px;
}

.group .means-box li .means-cover{
	display: block;
	padding: 15px;
	background-color: #f6f6f6;
}

.group .means-box li .means-cover .means-name{
	margin-bottom: 10px;
	color: #1e5165;
	font-weight: bold;
	font-size: 0.18rem;
}
.group .means-box li .means-cover p{
	line-height: 28px;
	overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.group >.get-box{
	position: relative;
	overflow: hidden;
	margin: 25px 0;
}

.group> .get-box> .img-box{
	float: left;
	width: 140px;
	height: 200px;
	margin-right: 15px;
}

.group .aegis-box li{
	width: 25%;
	float: left;
	padding: 15px;
}

.group .aegis-box li .aegis-cover{
	display: block;
	padding: 25px 15px;
	text-align: center;
	background-color: #efefef;
	box-shadow: 6px 6px 3px rgba(0,0,0,.1);

}

.group .aegis-box li .aegis-cover .aegis-img{
	display: inline-block;
	width: 116px;
	height: 116px;
}

.group .aegis-box li .aegis-cover h3{
	margin-top: 15px;
	font-size: .18rem;
}

.group .brand-box{
	position: relative;
	width: 100%;
    max-width: 100%;
	background: url('/Images/bg_trade.jpg') center center no-repeat;
    background-size: cover;
}
.group .brand-box .brand-name{
   	height: 180px;
   	line-height: 210px;
	color: #1A9698;
	text-align: center;
}
.group .brand-box .brand-name>h2{
	display: inline-block;
	font-size: .5rem;
}

.group .brand-box .brand-info{
	background-color: rgba(120,215,243,.8);
	color: #fff;
	text-align: center;
}

.group .brand-box .brand-info li{
	float: left;
	width: 33.33333%;
	
}

.group .brand-box .brand-info li .brand-cover{
	padding: 15px 0;
}
.group .brand-box .brand-info li + li .brand-cover{
	border-left: 2px solid #fff;
}
.group .brand-box .brand-info li .brand-cover .iconfont{
	font-size: .52rem;
}
.group .brand-box .brand-info li .brand-cover>h2{
	margin-top: 16px;
	font-size: .18rem;
}

.group .brand-box .brand-info li .brand-cover>p{
	overflow: hidden;
	margin-top: 10px;
	font-size: .15rem;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.group .constitute-box li{
	float: left;
	width: 33.33333%;
	padding: 15px;
}

.group .constitute-box li .constitute-cover{
	display: block;
	padding-left: 25px;
	text-align: center;
}

.group .constitute-box li .constitute-cover .bg-iconfont{
	display: inline-block;
	width: 100px;
	height: 100px;
	line-height: 125px;
	color: #fff;
	text-align: center;
	background-color: #28DAFE;
	border-radius: 50%;
}

.group .constitute-box li .constitute-cover .bg-iconfont .iconfont{
	font-size: .48rem;
}

.group .constitute-box li .constitute-cover h3{
	margin-top: 15px;
	font-size: .24rem;
}

.group .constitute-box li .constitute-cover p{
	margin-top: 15px;
}

.group .wander-box li{
	float: left;
	width: 20%;
	padding: 15px;
}

.group .wander-box li .wander-cover {
	display: block;
	position: relative;
	padding: 15px;
	text-align: center;
}
.group .wander-box li .wander-cover .bg-iconfont{
	display: inline-block;
	width: 100px;
	height: 100px;
	line-height: 125px;
	color: #28DAFE;
	text-align: center;
	border: 1px solid #28DAFE;
	border-radius: 50%;
}
.group .wander-box li .wander-cover .iconfont{
	font-size: .48rem;
}
.group .wander-box li .wander-cover h3{
	margin-top: 15px;
	font-size: .20rem;
}

.group .wander-box li .wander-cover p{
	margin-top: 15px;
}
.group .wander-box li .wander-cover .wander-next{
	position: absolute;
	top: 25%;
	right: -15px;
	font-size: .24rem;
}

.group .fit-box li{
	float: left;
	width: 50%;
	padding: 15px;
}

.group .fit-box li .fit-cover{
	display: block;
	padding: 15px;
	text-align: center;
}

.group .fit-box li .fit-img {
	display: block;
	padding: 35px;
}

.group .fit-box li .fit-cover h3{
	margin-top: 15px;
}


/*商标注册*/
.group .hold-box{
	position: relative;
	width: 100%;
    max-width: 100%;
	height: 400px;
	background: url('/Images/hold.jpg') center center no-repeat;
    background-size: cover;
}

.group .hold-box .hold-cell{
	display: block;
	padding: 85px 25px;
	color: #fff;
	text-align: center;
}

.group .hold-box .hold-cell>h2{
	margin-top: 25px;
	font-size: .5rem;
}
.group .hold-box .hold-cell>p{
	margin-top: 15px;
	font-size: .18rem;
}

.group .hold-box .hold-cover{
    width: 350px;
    margin: auto;
    padding: 0 20px;
    color: #fff;
    text-align: center;
    background-color: rgba(92,183,198,.8);
}

.group .hold-box .hold-cover span {
	display: inline-block;
	padding: 0 10px;
	margin: 20px 0;
}
.group .hold-box .hold-cover span + span {
	border-left: 1px solid #fff;
}

/*类别*/
.group .category-box li{
	float: left;
	width: 14.2857%;
}

.group .category-box li .category-cover{
	position: relative;
    /*overflow: hidden;*/
	padding: 10px;
	line-height: 1;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.group .category-box li .category-cover span{
	position: relative;
}

.group .category-box li .category-cover .hot{
    position: absolute;
    top: -13px;
    right: -25px;
    width: 23px;
    height: 13px;
    background: url('/Images/hot.png') no-repeat;
}

.group .category-box li .category-cover .hot {
    display: block;
    -webkit-animation-name: bounce;
    animation-name: bounce;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}


.group .category-box li .category-cover .tag{
	display: inline-block;
	width: 20px;
	height: 20px;
	line-height: 20px;
	color: #fff;
	text-align: center;
	background-color: #55bfed;
}

.group .recommend-box li {
	float: left;
	width: 25%;
	padding: 15px;
}

.group .recommend-box li .recommend-cover{
	display: block;
	padding: 25px;
	background-color: #fff;
	box-shadow: 0 0 15px rgba(0,0,0,.1);
}
.group .recommend-box li .recommend-cover .recommend-img{
	display: block;
	width: 100%;
	height: 150px;
}
.group .recommend-box li .recommend-cover .recommend-title{
	position: relative;
	margin-top: 15px;
}

.group .recommend-box li .recommend-cover .recommend-title h2{
	display: inline-block;
	overflow: hidden;
	width: 70%;
	font-size: .15rem;
	line-height: 22px;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.group .recommend-box li .recommend-cover .recommend-title .tag{
	position: absolute;
	right: 0;
	top: 0;
	display: inline-block;
	padding: 0 10px;
	border: 1px solid #fff;
	background-color: #55bfed;
	color: #fff;
	border-radius: 16px;
}
.group .recommend-box li .recommend-cover  p{
	overflow: hidden;
	font-size: .13rem;
	color: #ccc;
	white-space: nowrap;
    text-overflow: ellipsis;
}

.group .transaction-box {
	display: block;
	width: 100%;
	height: 275px;
}