
.banner-box{
    overflow: hidden;
    width: 100%;
    height: 320px;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
}

.banner-box >.swiper-container, .banner-box >.swiper-container >.swiper-wrapper {
    height: 320px;
}


.banner-box >.swiper-container>.control-item{
    display: inline-block;
    position: absolute;
    z-index: 2;
    top: 50%;
    margin-top: -35px;
    height: 70px;
    width: 35px;
    line-height: 70px;
    text-align: center;
    background-color: rgba(0,0,0,0.5);
    cursor: pointer;
    opacity: 0;
    text-decoration: none;
    transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out
}

.banner-box >.swiper-container>.control-item>i{
    font-size: 18px;
    color: #fff;
}

.banner-box >.swiper-container>.control-left{
    left: -35px;
    
}
.banner-box >.swiper-container>.control-right{
    right: -35px;
}

.banner-box >.swiper-container:hover>.control-item{
    opacity: 1;
}
.banner-box >.swiper-container:hover>.control-item.control-left{
    left: 95px;
}
.banner-box >.swiper-container:hover>.control-item.control-right{
     right: 95px;
}


.banner-box >.swiper-container >.swiper-wrapper >.swiper-slide >img{
    position: relative;
    z-index: 1;
    width: 100%;
    min-height: 100%;
}

.banner .mobile-banner{
    display: none;
}


.index-main-content{
    height: 100%;
    position: relative;
    z-index: 1;
    min-width: 100%;
}


.index-title {
    position: relative;
    margin: 0;
    font-size: .32rem;
    font-weight: 400;
    text-align: center;
}
.index-title .small-title{
    position: relative;
    margin-top: 20px;
    color: #666;
    font-size: .15rem;
}

.index-title .small-title >.marker{
    position: relative;
    width: 240px;
    padding: 0 50px;
    margin: 0 auto;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
}

.index-title .small-title >.marker:before, .index-title .small-title >.marker:after {
    content: '';
    position: absolute;
    width: 50px;
    height: 2px;
    display: block;
    background: #b5b5b5;
    top: 10px;
}

.index-title .small-title >.marker:before {
    left: 0;
}

.index-title .small-title >.marker:after {
    right: 0;
}


.content {
    width: 1190px;
    margin: 35px auto;
}

.slide-box{
    position: relative;
    width: 1020px;
    height: 250px;
    margin: 25px auto;
    background-color: #fff;
}

.slide-box>.slide-swiper,.slide-box>.slide-swiper>.swiper-wrapper{
    height: 250px
}

.slide-box>.slide-swiper>.swiper-wrapper>.swiper-slide{
    display: flex;
    text-align: center;
    background-color: #eee;
    background: url(/Images/bg_qualification.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    justify-content: center;
    align-items: center;
}


.slide-box >.control-item {
    display: inline-block;
    position: absolute;
    z-index: 2;
    top: 50%;
    margin-top: -35px;
    height: 70px;
    width: 45px;
    line-height: 75px;
    text-align: center;
    cursor: pointer;
}
.slide-box >.control-item>i{
    font-size: 32px;
    color: #b3b3b3;
}
.slide-box >.control-item.control-left{
    left: -45px;
}
.slide-box >.control-item.control-right{
    right: -45px;
}

.slide-box>.slide-swiper>.swiper-wrapper>.swiper-slide >.slide-con{
    color: #fff;
    text-align: left;
}
.slide-box>.slide-swiper>.swiper-wrapper>.swiper-slide >.slide-con>.link{
    display: inline-block;
    margin-top: 10px;
    padding-right: 15px;
    line-height: 35px;
    color: #fff;
    cursor: pointer;
}

.slide-box>.slide-swiper>.swiper-wrapper>.swiper-slide >.slide-con>.link>em{
    margin-left: 5px;
}

.content .promise-box{
    margin: 30px 55px 0;
}

.content .promise-box li{
    position: relative;
    float: left;
    overflow: hidden;
    width: 25%;
    padding: 20px 30px;
    border-right: 2px solid #e6e6e6;
}

.content .promise-box li>h2{
    color: #999999;
}
.content .promise-box li>label{
    margin-top: 5px;
    color: #39bfef;
}
.content .promise-box li>p{
    margin-top: 5px;
    color: #b5b5b5;
}
.content .promise-box li>.num{
    position: absolute;
    top: 5px;
    right: -15px;
    color: #ebebeb;
    font-size: 58px;
}

.content .major-box{
    margin: 30px 40px 0;
}

.content .major-box li{
    position: relative;
    float: left;
    overflow: hidden;
    width: 25%;
    height: 262px;
    padding: 15px;
    
}

.content .major-box li>.major-cover{
    height: 100%;
    background: url(/Images/bg_major.jpg) no-repeat top center;
    background-size: cover;
    cursor: pointer;
}

.content .major-box li>.major-cover>div{
    height: 100%;
    background-color: rgba(0,0,0,0.3);
}

.content .major-box li>.major-cover>div>h2{
    padding: 25px 30px;
    color: #fff;
    font-size: 18px;
    text-align: right;
    word-spacing:8px; 
    letter-spacing: 3px;
}























.content .map{
    margin-top: 0;
}
.content .map .map-box{
    padding: 0 20px;
}

.content .map .map-box #allmap{
    width: 100%;
    height: 300px;
}

.content .map .contact-list{
    padding: 20px 100px;
    overflow: hidden;
    font-size: .14rem;
}
.content .map .contact-list li{
    position: relative;
    float: left;
    width: 25%;
    padding: 20px;
    color: #999;
    text-align: center;
}

.content .map .contact-list li .contact-icon1{
    width: 0;
    margin: 0 auto;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
    border-bottom: 30px solid #999;
}

.content .map .contact-list li .contact-icon2{
    position: relative;
    width: 104px;
    height: 60px;
    margin: 0 auto;
    background-color: #999;
}

.content .map .contact-list li .contact-icon3{
    width: 0;
    margin: 0 auto 30px;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
    border-top: 30px solid #999;
}

.content .map .contact-list li i{
    position: absolute;
    top: -10px;
    left: 50%;
    margin-left: -30px;
}
.content .map .contact-list li i:before{
    font-size: 60px;
    color: #fff;
}
.content .map .contact-list li .phone{
    padding: 20px 0 0;
    margin: 20px;
    border-top: 1px solid #e8e8e8;
    font-size: .12rem;
}


@media (max-width: 1199px){
    html{
        font-size: 75px;
    }
    body{
        margin-top: 70px;
    }
    .head{
        display: none;
    }

    .top{
        z-index: 1001;
        position: fixed;
        left: 0;
        top: 0;
        height: 70px;
    }

    .top .logo{
        margin-left: 10px;
    }

    .top .nav{
        width: 100%;
        height: 70px;
        line-height: 70px;
        box-shadow: 0 0 15px rgba(0,0,0,.1);
        -webkit-box-shadow: 0 0 15px rgba(0,0,0,.1)
    }

    .top .nav .logo{
        height: 100%;
    }

    .top .nav .logo img{
        height: 100%;
        width: auto;
    }

    .top .nav-links{
        position: fixed;
        top: 70px;
        right: -70%;
        width: 70px;
        height: 100%;
        background-color: #EEE;
        -webkit-transition: all .3s ease-in-out 0s;
        -moz-transition: all .3s ease-in-out 0s;
        -ms-transition: all .3s ease-in-out 0s;
        transition: all .3s ease-in-out 0s
    }
    .top .nav-links li  {
        float: none !important;
    }
    .top .nav-links li a{
        line-height: 40px !important;
        color: #fff;
    }

    .top .nav-btn{
        display: block !important;
    }
    .margin-box{
        margin: 25px auto;
    }
    .content{
        width: 100%;
        margin: 20px 0;
        padding: 0 10px;
    }
}

@media (max-width: 768px){

    html{
        font-size: 45px;
    }

    .banner .pc-banner{
        display: none;
    }
    .banner .mobile-banner{
        display: inline;
    }

    .index-title .small-title{
        margin-top: 10px;
    }

    .index-fixed-bg{
        min-height: 200px;
    }

    .content .company-reg .reg-list{
        margin-top: 5px;
    }

    .content .company-reg .reg-list li{
        width: 50%;
        overflow: hidden;
    }

    .content .company-reg .reg-list li .reg{
        height: auto;
        padding: 20px 0 0;
        text-align: center;
    }

    .content .company-reg .reg-list li .reg img{
        float: none;
        display: block;
        margin: 10px auto 0;
    }

    .content .account-box{
        width: 100%;
        height: auto;
        margin-top: 10px;
    }

    .content .account-box li{
        width: 100%;
        height: auto;
        margin: 15px;
        background: none !important;
        border: 1px solid #e8e8e8;
    }

    .content .worth .worth-list{
        margin-top: 10px;
    }
    .content .worth .worth-list li{
        width: 50%;
    }
    .content .worth .worth-list li .condition-box {
        padding: 30px 10px 0;
    }
    .content .worth .worth-list li .condition-box:before{
        display: none;
    }
    .content .worth .worth-list li .audit-box{
        padding: 10px;
    }
    .content .worth .worth-list li .condition-box .condition{
        margin: 10px 0;
    }
    .content .news-center .news-list {
        margin-top: 10px;
    }

    .company-logo {
        background-color: #999;
    }

}