<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<meta name="copyright" content="">
    
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta property="og:type" content="article">
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">

    <meta name="viewport" content="initial-scale=1, maximum-scale=3, minimum-scale=1, user-scalable=no">
    <meta name="author" content="lxm,1165406082@qq.com">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <!-- <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"> -->
    <title>易企咨询-工商与税务</title>
    <!-- <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" /> -->
    <link href="https://cdn.bootcss.com/normalize/7.0.0/normalize.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.2/css/swiper.min.css">
    <link href="//at.alicdn.com/t/font_701636_9pn52k55vd.css" rel="stylesheet" />
    

    <link href="/Plugin/layui/css/layui.css" rel="stylesheet" >
    <link href="/Css/layout/bootstrap.min.css" rel="stylesheet">

    <link href="/Css/layout/common.css" rel="stylesheet" />
    <link href="/Css/layout/site.css" rel="stylesheet" />
    <link href="/Css/culture/culture.css" rel="stylesheet" />
    <link href="/Css/business/business.css" rel="stylesheet" />
</head>
<body>
	<div class="header of">
        <div class="head clearfix">
            <a class="logo" href="/index.html">
                <img src="/Images/logo.png">
            </a>
            <span class="fr">
                <i class="icon-telphone"></i>
                <label>0755-123456789</label>
            </span>
        </div>
	</div>
    <div class="top">
        <div class="nav">
            <ul class="nav-links open">
                <li class="links">
                    <a href="/">首页</a>
                </li>
                <li class="links">
                    <a href="/view/telecom.html">电信增值业务审批</a>
                </li>
                <li class="links">
                    <a href="/view/culture.html">网络文化审批</a>
                </li>
                <li class="links">
                    <a href="/">知识产权</a>
                </li>
                <li class="links on">
                    <a href="/view/business.html">工商与税务</a>
                </li>
                <li class="links">
                    <a href="/">联系我们</a>
                </li>
            </ul>      
        </div>
    </div>
    <div class="banner">
        <a href="javascript:;" class="pc-banner">
            <img src="/Images/banner1.jpg" alt="">
        </a>
    </div>
    <div class="content" id="business">
        <div class="title">
            <h3>工商与税务</h3>
        </div>
        <div class="tabs clearfix">
            <div class="tab">解除异常</div>
            <div class="tab">代理记账</div>
            <div class="tab">公司注册</div>
            <div class="tab">变更</div>
            <div class="tab">注册地址</div>
        </div>
        <!-- 解除异常 -->
        <div class="wrapper business-item">
            
            <div class="group of">
                <div class="little-title">
                    <span>
                        <i class="bg-primary"></i>
                        <i class="bg-orange"></i>
                    </span>
                    <h3>提供公司注册地址挂靠</h3>
                </div>
                <div class="offer-box">
                    <div class="offer-cell">
                        <h2>公司地址异常很严重！</h2>
                        <p>我们可以为您提供快速的地址解锁</p>
                    </div>
                </div>
            </div>

            <div class="group of">
                <div class="little-title">
                    <span>
                        <i class="bg-primary"></i>
                        <i class="bg-orange"></i>
                    </span>
                    <h3>企业列入异常名录的原因及解除方法</h3>
                </div>
                <ul class="ex-box clearfix">
                    <li class="ex-item">
                        <i class="tag">1</i>
                        <p>企业未在规定的期限公示年度报告信息；列入经营异常名录。 </p>
                        <p>解除方法：可以在补报未报年份的年度报告并公示后，携带资料前往企业所属工商局申请移除经营异常名录</p>
                    </li>
                    <li class="ex-item">
                        <i class="tag">2</i>
                        <p>企业未按照工商部门责令的期限公示有关企业信息；列入经营异常名录。 </p>
                        <p>解除方法：未按规定履行即时信息公示义务的企业，申请恢复正常记载状态的，应当先履行其信息公示的义务。</p>
                    </li>
                </ul>
            </div>

            <div class="group of">
                <div class="little-title">
                    <span>
                        <i class="bg-primary"></i>
                        <i class="bg-orange"></i>
                    </span>
                    <h3>多种地址选择</h3>
                </div>
                <ul class="sele-box clearfix">
                    <li>
                        <div class="sele-cover">
                            <i class="iconfont icon-box"></i>
                            <h3>孵化器地址</h3>
                            <p>安全可靠，强烈推荐</p>
                        </div>
                    </li>
                    <li class="sele-cover">
                        <div class="sele-cover">
                            <i class="iconfont icon-handup"></i>
                            <h3>普通挂靠地址</h3>
                            <p>性价比最高</p>
                        </div>
                    </li>
                </ul>
            </div>
            
            <div class="group of">
                <div class="little-title">
                    <span>
                        <i class="bg-primary"></i>
                        <i class="bg-orange"></i>
                    </span>
                    <h3>我们的承诺</h3>
                </div>
                <ul class="letter-box clearfix">
                    <li>
                        <div>
                            <div class="iconfont">
                                <i class="icon-recruit"></i>
                            </div>
                            <p>专业服务 品质保证</p>
                            <p>全国最专业的资质办理机</p>
                            <p>中国互联网企业专业服务</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <div class="iconfont">
                                <i class="icon-book"></i>
                            </div>
                            <p>全程服务</p>
                            <p>全国最专业的资质办理机</p>
                            <p>中国互联网企业专业服务</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <div class="iconfont">
                                <i class="icon-fast"></i>
                            </div>
                            <p>快速</p>
                            <p>全国最专业的资质办理机</p>
                            <p>中国互联网企业专业服务</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <div class="iconfont">
                                <i class="icon-aftersale"></i>
                            </div>
                            <p>保障</p>
                            <p>全国最专业的资质办理机</p>
                            <p>中国互联网企业专业服务</p>
                        </div>
                    </li>
                </ul>
            </div>
    
            <div class="group of">
                <div class="little-title">
                    <span>
                        <i class="bg-primary"></i>
                        <i class="bg-orange"></i>
                    </span>
                    <h3>专业展示</h3>
                </div>
                <div class="img-box"><img src="/Images/bg_profession.jpg" alt=""></div>
                <ul class="reg-box clearfix">
                    <li>
                        <div>
                            <i class="iconfont icon-major"></i>
                            <h3>专业放心</h3>
                            <p>企业核心业务100%全自营</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <i class="iconfont icon-quality"></i>
                            <h3>品质保证</h3>
                            <p>所有产品均为资深专业办理</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <i class="iconfont icon-whole"></i>
                            <h3>全程服务</h3>
                            <p>提供个人企业初创到上市的一站式服务</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <i class="iconfont icon-aftersale"></i>
                            <h3>售后无忧</h3>
                            <p>企业专项产品经理全程跟踪服务</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- 代理记账-->
        <div class="wrapper business-item">
            <div class="group of">
                <div class="little-title">
                    <span>
                        <i class="bg-primary"></i>
                        <i class="bg-orange"></i>
                    </span>
                    <h3>概述</h3>
                </div>
                <div class="overview-box">
                    <div class="overview-cell line-height">
                        <h2>企业为什么要选择代理记账？</h2>
                    </div>
                    <div class="overview-cell bg-overview">
                        <h3>专业的代理记账对税收和财会法规有专业和深入的了解，企业支付不到一个会计人员的费用，就可以享受到专业、全面的服务</h3>
                        <ul>
                            <li>
                                <div class="bottom-cell">
                                    <div>
                                        <span>省钱</span>
                                        <i class="iconfont icon-paper"></i>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="bottom-cell left-border">
                                    <div>
                                        <i class="iconfont icon-aftersale"></i>
                                        <span>专业</span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="group of">
                <div class="little-title">
                    <span>
                        <i class="bg-primary"></i>
                        <i class="bg-orange"></i>
                    </span>
                    <h3>服务流程</h3>
                </div>
                <ul class="process-box clearfix">
                    <li>
                        <div class="process-cover">
                            <i class="iconfont icon-staff"></i>
                            <h3>咨询</h3>
                            <p>免费咨询 在线下单</p>
                            <i class="next-tag icon-forward"></i>
                        </div>
                    </li>
                    <li>
                        <div class="process-cover">
                            <i class="iconfont icon-report"></i>
                            <h3>报到</h3>
                            <p>客户完成国地税报到</p>
                            <i class="next-tag icon-forward"></i>
                        </div>
                    </li>
                    <li>
                        <div class="process-cover">
                            <i class="iconfont icon-bill"></i>
                            <h3>票据</h3>
                            <p>每月提供经营票据</p>
                            <i class="next-tag icon-forward"></i>
                        </div>
                    </li>
                    <li>
                        <div class="process-cover">
                            <i class="iconfont icon-calculate"></i>
                            <h3>做账</h3>
                            <p>开始做账</p>
                            <i class="next-tag icon-forward"></i>
                        </div>
                    </li>
                    <li>
                        <div class="process-cover">
                            <i class="iconfont icon-confirm"></i>
                            <h3>确认</h3>
                            <p>客户确认税金</p>
                            <i class="next-tag icon-forward"></i>
                        </div>
                    </li>
                    <li>
                        <div class="process-cover">
                            <i class="iconfont icon-duty"></i>
                            <h3>报税</h3>
                            <p>会计完成报税</p>
                            <i class="next-tag icon-forward"></i>
                        </div>
                    </li>
                    <li>
                        <div class="process-cover">
                            <i class="iconfont icon-explain"></i>
                            <h3>解答</h3>
                            <p>日常财税，咨询解答</p>
                        </div>
                    </li>
                </ul>
            </div>
        
            <div class="group of">
                <div class="little-title">
                    <span>
                        <i class="bg-primary"></i>
                        <i class="bg-orange"></i>
                    </span>
                    <h3>需要准备的材料</h3>
                </div>
                <div>
                    <ul class="datum-box clearfix">
                        <li>
                            <div class="step-box">
                                <img src="/Images/agent-1.jpg">
                            </div>
                        </li>
                        <li>
                            <div class="step-box">
                                <img src="/Images/agent-2.jpg">
                            </div>
                        </li>
                        <li>
                            <div class="step-box sm-box">
                                <img src="/Images/agent-3.jpg">
                            </div>
                        </li>
                        <li>
                            <div class="step-box">
                                <img src="/Images/agent-4.jpg">
                            </div>
                        </li>
                    </ul>
                    <div class="info-box">
                        <span><i class="tag">1</i>营业执照复印件</span>
                        <span><i class="tag">2</i>开户许可证复印件</span>
                        <span><i class="tag">3</i>国地税密码</span>
                        <span><i class="tag">4</i>本年账本及报税材料</span>
                    </div>
                    <div class="info-box text-gray">
                        注：服务内容因地区、政策不同有所区别，详情请咨询当地税务顾问
                    </div>
                </div>
            </div>

            <div class="group of">
                <div class="little-title">
                    <span>
                        <i class="bg-primary"></i>
                        <i class="bg-orange"></i>
                    </span>
                    <h3>能够得到的材料</h3>
                </div>
                <ul class="obtain-box clearfix">
                    <li>
                        <div class="obtain-cover">
                            <div class="head">
                                每月/季度
                            </div>
                            <div class="obtain-cell">
                                <p>财务报告</p>
                                <p>经营报告</p>
                                <p>装订凭证</p>
                                <p>报税材料</p>
                            </div>
                        </div>
                    </li>
                     <li>
                        <div class="obtain-cover">
                            <div class="head">
                                每年
                            </div>
                            <div class="obtain-cell">
                                <p>账务及明细账</p>
                                <p>税务年报</p>
                            </div>
                        </div>
                    </li>
                     <li>
                        <div class="obtain-cover">
                            <div class="head">
                                日常
                            </div>
                            <div class="obtain-cell">
                                <p>财税咨询解答</p>
                                <p>税负预警提示</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="group of">
                <div class="little-title">
                    <span>
                        <i class="bg-primary"></i>
                        <i class="bg-orange"></i>
                    </span>
                    <h3>我们的承诺</h3>
                </div>
                <ul class="letter-box clearfix">
                    <li>
                        <div>
                            <div class="iconfont">
                                <i class="icon-recruit"></i>
                            </div>
                            <p>专业服务 品质保证</p>
                            <p>全国最专业的资质办理机</p>
                            <p>中国互联网企业专业服务</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <div class="iconfont">
                                <i class="icon-book"></i>
                            </div>
                            <p>全程服务</p>
                            <p>全国最专业的资质办理机</p>
                            <p>中国互联网企业专业服务</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <div class="iconfont">
                                <i class="icon-fast"></i>
                            </div>
                            <p>快速</p>
                            <p>全国最专业的资质办理机</p>
                            <p>中国互联网企业专业服务</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <div class="iconfont">
                                <i class="icon-aftersale"></i>
                            </div>
                            <p>保障</p>
                            <p>全国最专业的资质办理机</p>
                            <p>中国互联网企业专业服务</p>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="group of">
                <div class="little-title">
                    <span>
                        <i class="bg-primary"></i>
                        <i class="bg-orange"></i>
                    </span>
                    <h3>专业展示</h3>
                </div>

                <div class="img-box"><img src="/Images/bg_profession.jpg" alt=""></div>
                <ul class="reg-box clearfix">
                    <li>
                        <div>
                            <i class="iconfont icon-major"></i>
                            <h3>专业放心</h3>
                            <p>企业核心业务100%全自营</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <i class="iconfont icon-quality"></i>
                            <h3>品质保证</h3>
                            <p>所有产品均为资深专业办理</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <i class="iconfont icon-whole"></i>
                            <h3>全程服务</h3>
                            <p>提供个人企业初创到上市的一站式服务</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <i class="iconfont icon-aftersale"></i>
                            <h3>售后无忧</h3>
                            <p>企业专项产品经理全程跟踪服务</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- 公司注册-->
        <div class="wrapper business-item">
            <div class="group of">
                <div class="little-title">
                    <span>
                        <i class="bg-primary"></i>
                        <i class="bg-orange"></i>
                    </span>
                    <h3>概述</h3>
                </div>
                <div class="register-box">
                    <div class="sm-cell bg-register">
                        <span>线上提交材料，专人全程办理，最快3天拿证</span>
                    </div>
                    <div class="lg-cell">
                        <span>办理营业执照是开公司的第一步</span>
                    </div>
                </div>
            </div>

            <div class="group of">
                <div class="little-title">
                    <span>
                        <i class="bg-primary"></i>
                        <i class="bg-orange"></i>
                    </span>
                    <h3>服务流程</h3>
                </div>
                <ul class="path-box clearfix">
                    <li>
                        <div class="path-cover">
                            <i class="iconfont icon-staff"></i>
                            <p>咨询</p>
                            <i class="next-tag icon-next"></i>
                        </div>
                    </li>
                    <li>
                        <div class="path-cover">
                            <i class="iconfont icon-confirm"></i>
                            <p>核准名称</p>
                            <i class="next-tag icon-next"></i>
                        </div>
                    </li>
                    <li>
                        <div class="path-cover">
                            <i class="iconfont icon-submit"></i>
                            <p>提交相关资料</p>
                            <i class="next-tag icon-next"></i>
                        </div>
                    </li>
                     <li>
                        <div class="path-cover">
                            <i class="iconfont icon-calculate"></i>
                            <p>办理执照</p>
                            <i class="next-tag icon-next"></i>
                        </div>
                    </li>
                    <li>
                        <div class="path-cover">
                            <i class="iconfont icon-seal"></i>
                            <p>办理刻章</p>
                            <i class="next-tag icon-next"></i>
                        </div>
                    </li>
                    <li>
                        <div class="path-cover">
                            <i class="iconfont icon-online"></i>
                            <p>领取证件</p>
                        </div>
                    </li>
                   
                </ul>
            </div>
        
            <div class="group of">
                <div class="little-title">
                    <span>
                        <i class="bg-primary"></i>
                        <i class="bg-orange"></i>
                    </span>
                    <h3>需要准备的材料</h3>
                </div>
                <div>
                    <ul class="worth-box clearfix">
                        <li>
                            <div class="worth-cover">
                                <div class="worth-avatar">
                                    <img src="/Images/datum-1.jpg">
                                </div>
                                <p>股东身份证原件及复印件</p>
                            </div>
                        </li>
                        <li>
                            <div class="worth-cover">
                                <div class="worth-avatar">
                                    <img src="/Images/datum-2.jpg">
                                </div>
                                <p>企业名称</p>
                            </div>
                        </li>
                        <li>
                            <div class="worth-cover sm-box">
                                <div class="worth-avatar">
                                    <img src="/Images/datum-3.jpg">
                                </div>
                                <p>执行董事、法人、经理、监士、企业联系人、财务负责人身份证复印件、电话、邮箱</p>
                            </div>
                        </li>
                        <li>
                            <div class="worth-cover">
                                <div class="worth-avatar">
                                    <img src="/Images/datum-4.jpg">
                                </div>
                                <p>经营场所产权及租赁协议及发租发票</p>
                            </div>
                        </li>
                        <li>
                            <div class="worth-cover">
                                <div class="worth-avatar">
                                    <img src="/Images/datum-5.jpg">
                                </div>
                                <p>公司经营范围</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="group of">
                <div class="little-title">
                    <span>
                        <i class="bg-primary"></i>
                        <i class="bg-orange"></i>
                    </span>
                    <h3>能够得到的材料</h3>
                </div>
                <ul class="ex-box clearfix">
                    <li class="ex-item">
                        <i class="tag">1</i>
                        <p>营业执照 + 公章 </p>
                    </li>
                    <li class="ex-item">
                        <i class="tag">2</i>
                        <p>财务章 </p>
                    </li>
                    <li class="ex-item">
                        <i class="tag">3</i>
                        <p>法人章 </p>
                    </li>
                </ul>               
            </div>

            <div class="group of">
                <div class="little-title">
                    <span>
                        <i class="bg-primary"></i>
                        <i class="bg-orange"></i>
                    </span>
                    <h3>我们的承诺</h3>
                </div>
                <ul class="letter-box clearfix">
                    <li>
                        <div>
                            <div class="iconfont">
                                <i class="icon-recruit"></i>
                            </div>
                            <p>专业服务 品质保证</p>
                            <p>全国最专业的资质办理机</p>
                            <p>中国互联网企业专业服务</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <div class="iconfont">
                                <i class="icon-book"></i>
                            </div>
                            <p>全程服务</p>
                            <p>全国最专业的资质办理机</p>
                            <p>中国互联网企业专业服务</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <div class="iconfont">
                                <i class="icon-fast"></i>
                            </div>
                            <p>快速</p>
                            <p>全国最专业的资质办理机</p>
                            <p>中国互联网企业专业服务</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <div class="iconfont">
                                <i class="icon-aftersale"></i>
                            </div>
                            <p>保障</p>
                            <p>全国最专业的资质办理机</p>
                            <p>中国互联网企业专业服务</p>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="group of">
                <div class="little-title">
                    <span>
                        <i class="bg-primary"></i>
                        <i class="bg-orange"></i>
                    </span>
                    <h3>专业展示</h3>
                </div>

                <div class="img-box"><img src="/Images/bg_profession.jpg" alt=""></div>
                <ul class="reg-box clearfix">
                    <li>
                        <div>
                            <i class="iconfont icon-major"></i>
                            <h3>专业放心</h3>
                            <p>企业核心业务100%全自营</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <i class="iconfont icon-quality"></i>
                            <h3>品质保证</h3>
                            <p>所有产品均为资深专业办理</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <i class="iconfont icon-whole"></i>
                            <h3>全程服务</h3>
                            <p>提供个人企业初创到上市的一站式服务</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <i class="iconfont icon-aftersale"></i>
                            <h3>售后无忧</h3>
                            <p>企业专项产品经理全程跟踪服务</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- 变更-->
        <div class="wrapper business-item">
         

            <div class="group of">
                <div class="little-title">
                    <span>
                        <i class="bg-primary"></i>
                        <i class="bg-orange"></i>
                    </span>
                    <h3>热门公司变更服务</h3>
                </div>
                <ul class="path-box clearfix">
                    <li>
                        <div class="path-cover">
                            <i class="iconfont icon-staff"></i>
                            <p>咨询</p>
                            <i class="next-tag icon-next"></i>
                        </div>
                    </li>
                    <li>
                        <div class="path-cover">
                            <i class="iconfont icon-confirm"></i>
                            <p>核准名称</p>
                            <i class="next-tag icon-next"></i>
                        </div>
                    </li>
                    <li>
                        <div class="path-cover">
                            <i class="iconfont icon-submit"></i>
                            <p>提交相关资料</p>
                            <i class="next-tag icon-next"></i>
                        </div>
                    </li>
                     <li>
                        <div class="path-cover">
                            <i class="iconfont icon-calculate"></i>
                            <p>办理执照</p>
                            <i class="next-tag icon-next"></i>
                        </div>
                    </li>
                    <li>
                        <div class="path-cover">
                            <i class="iconfont icon-seal"></i>
                            <p>办理刻章</p>
                            <i class="next-tag icon-next"></i>
                        </div>
                    </li>
                    <li>
                        <div class="path-cover">
                            <i class="iconfont icon-online"></i>
                            <p>领取证件</p>
                        </div>
                    </li>
                   
                </ul>
            </div>
        
            <div class="group of">
                <div class="little-title">
                    <span>
                        <i class="bg-primary"></i>
                        <i class="bg-orange"></i>
                    </span>
                    <h3>需要准备的材料</h3>
                </div>
                <div>
                    <ul class="worth-box clearfix">
                        <li>
                            <div class="worth-cover">
                                <div class="worth-avatar">
                                    <img src="/Images/datum-1.jpg">
                                </div>
                                <p>股东身份证原件及复印件</p>
                            </div>
                        </li>
                        <li>
                            <div class="worth-cover">
                                <div class="worth-avatar">
                                    <img src="/Images/datum-2.jpg">
                                </div>
                                <p>企业名称</p>
                            </div>
                        </li>
                        <li>
                            <div class="worth-cover sm-box">
                                <div class="worth-avatar">
                                    <img src="/Images/datum-3.jpg">
                                </div>
                                <p>执行董事、法人、经理、监士、企业联系人、财务负责人身份证复印件、电话、邮箱</p>
                            </div>
                        </li>
                        <li>
                            <div class="worth-cover">
                                <div class="worth-avatar">
                                    <img src="/Images/datum-4.jpg">
                                </div>
                                <p>经营场所产权及租赁协议及发租发票</p>
                            </div>
                        </li>
                        <li>
                            <div class="worth-cover">
                                <div class="worth-avatar">
                                    <img src="/Images/datum-5.jpg">
                                </div>
                                <p>公司经营范围</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="group of">
                <div class="little-title">
                    <span>
                        <i class="bg-primary"></i>
                        <i class="bg-orange"></i>
                    </span>
                    <h3>能够得到的材料</h3>
                </div>
                <ul class="ex-box clearfix">
                    <li class="ex-item">
                        <i class="tag">1</i>
                        <p>营业执照 + 公章 </p>
                    </li>
                    <li class="ex-item">
                        <i class="tag">2</i>
                        <p>财务章 </p>
                    </li>
                    <li class="ex-item">
                        <i class="tag">3</i>
                        <p>法人章 </p>
                    </li>
                </ul>               
            </div>

            <div class="group of">
                <div class="little-title">
                    <span>
                        <i class="bg-primary"></i>
                        <i class="bg-orange"></i>
                    </span>
                    <h3>我们的承诺</h3>
                </div>
                <ul class="letter-box clearfix">
                    <li>
                        <div>
                            <div class="iconfont">
                                <i class="icon-recruit"></i>
                            </div>
                            <p>专业服务 品质保证</p>
                            <p>全国最专业的资质办理机</p>
                            <p>中国互联网企业专业服务</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <div class="iconfont">
                                <i class="icon-book"></i>
                            </div>
                            <p>全程服务</p>
                            <p>全国最专业的资质办理机</p>
                            <p>中国互联网企业专业服务</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <div class="iconfont">
                                <i class="icon-fast"></i>
                            </div>
                            <p>快速</p>
                            <p>全国最专业的资质办理机</p>
                            <p>中国互联网企业专业服务</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <div class="iconfont">
                                <i class="icon-aftersale"></i>
                            </div>
                            <p>保障</p>
                            <p>全国最专业的资质办理机</p>
                            <p>中国互联网企业专业服务</p>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="group of">
                <div class="little-title">
                    <span>
                        <i class="bg-primary"></i>
                        <i class="bg-orange"></i>
                    </span>
                    <h3>专业展示</h3>
                </div>

                <div class="img-box"><img src="/Images/bg_profession.jpg" alt=""></div>
                <ul class="reg-box clearfix">
                    <li>
                        <div>
                            <i class="iconfont icon-major"></i>
                            <h3>专业放心</h3>
                            <p>企业核心业务100%全自营</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <i class="iconfont icon-quality"></i>
                            <h3>品质保证</h3>
                            <p>所有产品均为资深专业办理</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <i class="iconfont icon-whole"></i>
                            <h3>全程服务</h3>
                            <p>提供个人企业初创到上市的一站式服务</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <i class="iconfont icon-aftersale"></i>
                            <h3>售后无忧</h3>
                            <p>企业专项产品经理全程跟踪服务</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- 注册地址-->
        <div class="wrapper business-item">
            <div class="group of">
                <div class="little-title">
                    <span>
                        <i class="bg-primary"></i>
                        <i class="bg-orange"></i>
                    </span>
                    <h3>概述</h3>
                </div>
                <div class="register-box">
                    <div class="sm-cell bg-register">
                        <span>线上提交材料，专人全程办理，最快3天拿证</span>
                    </div>
                    <div class="lg-cell">
                        <span>办理营业执照是开公司的第一步</span>
                    </div>
                </div>
            </div>

            <div class="group of">
                <div class="little-title">
                    <span>
                        <i class="bg-primary"></i>
                        <i class="bg-orange"></i>
                    </span>
                    <h3>服务流程</h3>
                </div>
                <ul class="path-box clearfix">
                    <li>
                        <div class="path-cover">
                            <i class="iconfont icon-staff"></i>
                            <p>咨询</p>
                            <i class="next-tag icon-next"></i>
                        </div>
                    </li>
                    <li>
                        <div class="path-cover">
                            <i class="iconfont icon-confirm"></i>
                            <p>核准名称</p>
                            <i class="next-tag icon-next"></i>
                        </div>
                    </li>
                    <li>
                        <div class="path-cover">
                            <i class="iconfont icon-submit"></i>
                            <p>提交相关资料</p>
                            <i class="next-tag icon-next"></i>
                        </div>
                    </li>
                     <li>
                        <div class="path-cover">
                            <i class="iconfont icon-calculate"></i>
                            <p>办理执照</p>
                            <i class="next-tag icon-next"></i>
                        </div>
                    </li>
                    <li>
                        <div class="path-cover">
                            <i class="iconfont icon-seal"></i>
                            <p>办理刻章</p>
                            <i class="next-tag icon-next"></i>
                        </div>
                    </li>
                    <li>
                        <div class="path-cover">
                            <i class="iconfont icon-online"></i>
                            <p>领取证件</p>
                        </div>
                    </li>
                   
                </ul>
            </div>
        
            <div class="group of">
                <div class="little-title">
                    <span>
                        <i class="bg-primary"></i>
                        <i class="bg-orange"></i>
                    </span>
                    <h3>需要准备的材料</h3>
                </div>
                <div>
                    <ul class="worth-box clearfix">
                        <li>
                            <div class="worth-cover">
                                <div class="worth-avatar">
                                    <img src="/Images/datum-1.jpg">
                                </div>
                                <p>股东身份证原件及复印件</p>
                            </div>
                        </li>
                        <li>
                            <div class="worth-cover">
                                <div class="worth-avatar">
                                    <img src="/Images/datum-2.jpg">
                                </div>
                                <p>企业名称</p>
                            </div>
                        </li>
                        <li>
                            <div class="worth-cover sm-box">
                                <div class="worth-avatar">
                                    <img src="/Images/datum-3.jpg">
                                </div>
                                <p>执行董事、法人、经理、监士、企业联系人、财务负责人身份证复印件、电话、邮箱</p>
                            </div>
                        </li>
                        <li>
                            <div class="worth-cover">
                                <div class="worth-avatar">
                                    <img src="/Images/datum-4.jpg">
                                </div>
                                <p>经营场所产权及租赁协议及发租发票</p>
                            </div>
                        </li>
                        <li>
                            <div class="worth-cover">
                                <div class="worth-avatar">
                                    <img src="/Images/datum-5.jpg">
                                </div>
                                <p>公司经营范围</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="group of">
                <div class="little-title">
                    <span>
                        <i class="bg-primary"></i>
                        <i class="bg-orange"></i>
                    </span>
                    <h3>能够得到的材料</h3>
                </div>
                <ul class="ex-box clearfix">
                    <li class="ex-item">
                        <i class="tag">1</i>
                        <p>营业执照 + 公章 </p>
                    </li>
                    <li class="ex-item">
                        <i class="tag">2</i>
                        <p>财务章 </p>
                    </li>
                    <li class="ex-item">
                        <i class="tag">3</i>
                        <p>法人章 </p>
                    </li>
                </ul>               
            </div>

            <div class="group of">
                <div class="little-title">
                    <span>
                        <i class="bg-primary"></i>
                        <i class="bg-orange"></i>
                    </span>
                    <h3>我们的承诺</h3>
                </div>
                <ul class="letter-box clearfix">
                    <li>
                        <div>
                            <div class="iconfont">
                                <i class="icon-recruit"></i>
                            </div>
                            <p>专业服务 品质保证</p>
                            <p>全国最专业的资质办理机</p>
                            <p>中国互联网企业专业服务</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <div class="iconfont">
                                <i class="icon-book"></i>
                            </div>
                            <p>全程服务</p>
                            <p>全国最专业的资质办理机</p>
                            <p>中国互联网企业专业服务</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <div class="iconfont">
                                <i class="icon-fast"></i>
                            </div>
                            <p>快速</p>
                            <p>全国最专业的资质办理机</p>
                            <p>中国互联网企业专业服务</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <div class="iconfont">
                                <i class="icon-aftersale"></i>
                            </div>
                            <p>保障</p>
                            <p>全国最专业的资质办理机</p>
                            <p>中国互联网企业专业服务</p>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="group of">
                <div class="little-title">
                    <span>
                        <i class="bg-primary"></i>
                        <i class="bg-orange"></i>
                    </span>
                    <h3>专业展示</h3>
                </div>

                <div class="img-box"><img src="/Images/bg_profession.jpg" alt=""></div>
                <ul class="reg-box clearfix">
                    <li>
                        <div>
                            <i class="iconfont icon-major"></i>
                            <h3>专业放心</h3>
                            <p>企业核心业务100%全自营</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <i class="iconfont icon-quality"></i>
                            <h3>品质保证</h3>
                            <p>所有产品均为资深专业办理</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <i class="iconfont icon-whole"></i>
                            <h3>全程服务</h3>
                            <p>提供个人企业初创到上市的一站式服务</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <i class="iconfont icon-aftersale"></i>
                            <h3>售后无忧</h3>
                            <p>企业专项产品经理全程跟踪服务</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    
    <footer>
        <div class="footer">
            <ul class="bottom-list">
                <li>
                    <p>关于我们</p>
                    <a href="#">公司简介</a>
                    <a href="#">企业文化</a>
                    <a href="#">企业荣誉</a>
                </li>
                <li>
                    <p>服务支持</p>
                    <a href="#">常见问题</a>
                    <a href="#">联系我们</a>
                </li>
                <li>
                    <p>关注我们</p>
                    <a href="#">官方微博</a>
                    <a href="#">官方微信</a>
                </li>
            </ul>
            <dl class="company-num">
                <dd>地址： 广州天河区华景新城100栋10111</dd>
                <dd>电话： 15814203211</dd>
                <dd>邮编： 50000</dd>
                <dd>邮箱： yiqi@yiqi.com</dd>
            </dl>
            <div class="clearfix"></div>
            <div class="bottom-link">
                <p class="mt20">Copyright©2018 易企商服 All Rights Reserved </p>
                <p class="copyright"><span>易企商服科技有限公司 版权所有</span><a href="https://12321.cn/" rel="nofollow">"扫黄打非”举报专区</a></p>
                <p class="num-b"><a href="http://www.miitbeian.gov.cn/" target="_blank">粤ICP备18005298号-1</a></p>
            </div>
        </div>
    </footer>

	<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/cssuseragent/2.1.31/cssua.min.js"></script>
    <script src="https://cdn.bootcss.com/placeholders/4.0.1/placeholders.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery.lazy/1.7.6/jquery.lazy.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.2/js/swiper.min.js"></script>
    <script src="/Plugin/layui/layui.js"></script>
    <script src="/Js/layout/bootstrap.min.js"></script>
    <script src="/Js/layout/root.js"></script>
    <script src="/Js/layout/site.js"></script>

    <script src="/Js/business/business.js"></script>

</body>
</html>