<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<meta name="copyright" content="">
    
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta property="og:type" content="article">
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">

    <meta name="viewport" content="initial-scale=1, maximum-scale=3, minimum-scale=1, user-scalable=no">
    <meta name="author" content="lxm,1165406082@qq.com">
    <meta http-equiv="X-UA-Compatible" content="IE=8">
    <!-- <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"> -->
    <title>易企咨询</title>
    <!-- <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" /> -->
    <link href="https://cdn.bootcss.com/normalize/7.0.0/normalize.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.2/css/swiper.min.css" rel="stylesheet">
    <link href="//at.alicdn.com/t/font_701636_8c6ne82932i.css" rel="stylesheet" />
    

    <link href="/Plugin/layui/css/layui.css" rel="stylesheet" >
    <link href="/Css/layout/bootstrap.min.css" rel="stylesheet">

    <link href="/Css/layout/common.css" rel="stylesheet" />
    <link href="/Css/layout/site.css" rel="stylesheet" />
    <link href="/Css/about/about.css" rel="stylesheet" />
    <link href="/Css/main/index.css" rel="stylesheet" />
</head>
<body>
	<div class="header of">
        <div class="head clearfix">
            <a class="logo" href="/index.html">
                <img src="/Images/logo.png">
            </a>
            <span class="fr">
                <i class="icon-telphone"></i>
                <label>0755-123456789</label>
            </span>
        </div>
	</div>
 	<div class="top">
        <div class="nav">
            <ul class="nav-links open">
                <li class="links">
                    <a href="/">首页</a>
                </li>
                <li class="links">
                    <a href="/view/telecom.html">电信增值业务审批</a>
                </li>
                <li class="links">
                    <a href="/view/culture.html">网络文化审批</a>
                </li>
                <li class="links">
                    <a href="/view/property.html">知识产权</a>
                </li>
                <li class="links">
                    <a href="/view/business.html">工商与税务</a>
                </li>
                <li class="links on">
                    <a href="/view/contact.html">联系我们</a>
                </li>
            </ul>      
        </div>
    </div>
	<div class="banner">
        <a href="javascript:;" class="pc-banner">
            <img src="/Images/banner1.jpg" alt="">
        </a>
    </div>

	<div class="content">
		<div class="title">
            公司简介
            <!-- <div class="small-title"><div class="marker">COMPANY PROFILE</div></div> -->
        </div>
		<div class="company-info">
        	<p class="pb0">
            易企咨询是一家专业的一站式企业服务机构。易企商服依托于互联网，驻点于线下，在广州、深圳、成都、长沙均有服务公司。 目前在广州已经有三家服务网点，分别分布在天河区，越秀区白云区。服务区域覆盖整个广州。业务范围涵盖工商注册、财税服务、商标代理买卖、高新企业认证、游戏公司许可证、ICP许可证、网络文化许可证等特殊许可资质领域。
			</p>
			<p class="mt10">目前在广州已经有三家服务网点，分别分布在天河区，越秀区白云区。业务范围涵盖工商注册、财税服务、商标代理买卖、高新企业认证、游戏公司许可证、ICP许可证、网络文化许可证等特殊许可资质领域。业务范围涵盖工商注册、财税服务、商标代理买卖、高新企业认证、游戏公司许可证、ICP许可证、网络文化许可证等特殊许可资质领域</p>
        </div>
		<div class="intro map">
			<div class="title">
	            公司地址
	            <!-- <div class="small-title"><div class="marker">COMPANY ADDRESS</div></div> -->
	        </div>
			<div class="map-box">
                <input type="hidden" id="zb_x" value="" /><!-- zb_x/zb_y value可为空 -->
                <input type="hidden" id="zb_y" value="" />
                <input type="hidden" id="company_name" value="易企商服" />
                <input type="hidden" id="business_address" value="广州天河区华景新城100栋10111" />
                <div class="" id="showMap">
                    <div id="allmap" class="mt20"></div>
                </div>
            </div>
            <ul class="contact-list">
            	<li>
	            	<div class="contact-icon1"></div>
	            	<div class="contact-icon2">
	            		<i class="iconfont icon-hotphone"></i>
	            	</div>
	            	<div class="contact-icon3"></div>
	            	联系电话
	            	<div class="phone">0753-123456789</div>
            	</li>
            	<li>
	            	<div class="contact-icon1"></div>
	            	<div class="contact-icon2">
	            		<i class="iconfont icon-email"></i>
	            	</div>
	            	<div class="contact-icon3"></div>
	            	邮箱	 	
	            	<div class="phone">yiqishangfu@163.com</div>
            	</li>
            	<li>
	            	<div class="contact-icon1"></div>
	            	<div class="contact-icon2">
	            		<i class="iconfont icon-site"></i>
	            	</div>
	            	<div class="contact-icon3"></div>
	            	联系地址
	            	<div class="phone">广州天河区华景新城100栋10111</div>
            	</li>
            	<li>
	            	<div class="contact-icon1"></div>
	            	<div class="contact-icon2">
	            		<i class="iconfont icon-zip"></i>
	            	</div>
	            	<div class="contact-icon3"></div>
	            	邮编
	            	<div class="phone">51000</div>
            	</li>
            </ul>
		</div>
		<div class="title">在线留言</div>
		<form>
			<div class="promt">温馨提示：带*号的选项框为必填项</div>
			<div class="input-group">
				<div class="input-cell">
					<label><span style="color: red">*</span>您的姓名</label>
					<input type="text" class="input-control">
				</div>
				<div class="input-cell">
					<label><span style="color: red">*</span>联系电话</label>
					<input type="text" class="input-control">
				</div>
				<div class="input-cell">
					<label><span style="color: #fff">*</span>邮箱地址</label>
					<input type="text" class="input-control">
				</div>
			</div>
			<div class="input-textarea">
				<label class="textarea-label"><span style="color: red">*</span>留言内容</label>
				<textarea class="textarea-control" rows="6"></textarea>
			</div>
			<div class="code-group clearfix">
				<div class="code-cover">
					<img src="" alt="">
				</div>
				<span>换一个</span>
			</div>
			<div class="input-group">
				<div class="input-cell">
					<label><span style="color: red">*</span>验证码</label>
					<input type="text" class="input-control">
				</div>
			</div>
			<div class="button">
				<button class="btn btn-default btn-md">提交</button>
			</div>
		</form>
			
	</div>


	<footer>
        <div class="footer">
            <ul class="bottom-list">
                <li>
                    <p>关于我们</p>
                    <a href="#">公司简介</a>
                    <a href="#">企业文化</a>
                    <a href="#">企业荣誉</a>
                </li>
                <li>
                    <p>服务支持</p>
                    <a href="#">常见问题</a>
                    <a href="#">联系我们</a>
                </li>
                <li>
                    <p>关注我们</p>
                    <a href="#">官方微博</a>
                    <a href="#">官方微信</a>
                </li>
            </ul>
            <dl class="company-num">
                <dd>地址： 广州天河区华景新城100栋10111</dd>
                <dd>电话： 15814203211</dd>
                <dd>邮编： 50000</dd>
                <dd>邮箱： yiqi@yiqi.com</dd>
            </dl>
            <div class="clearfix"></div>
            <div class="bottom-link">
                <p class="mt20">Copyright©2018 易企商服 All Rights Reserved </p>
                <p class="copyright"><span>易企商服科技有限公司 版权所有</span><a href="https://12321.cn/" rel="nofollow">"扫黄打非”举报专区</a></p>
                <p class="num-b"><a href="http://www.miitbeian.gov.cn/" target="_blank">粤ICP备18005298号-1</a></p>
            </div>
        </div>
    </footer>
    

	<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/cssuseragent/2.1.31/cssua.min.js"></script>
    <script src="https://cdn.bootcss.com/placeholders/4.0.1/placeholders.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery.lazy/1.7.6/jquery.lazy.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.2/js/swiper.min.js"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=xvemI2xkfz9ccj1Tq1ulBlIt"></script>
	<script src="http://map.qq.com/api/js?v=2.exp&key=JLVBZ-7HKWQ-L6J5L-GRSSY-BOMIO-ZEBN6&libraries=convertor"></script>
	<script src="/Plugin/layui/layui.js"></script>
    <script src="/Js/layout/bootstrap.min.js"></script>
    <script src="/Js/layout/map.js"></script>
    <script src="/Js/layout/root.js"></script>
    <script src="/Js/layout/site.js"></script>

    <script src="/Js/about/about.js"></script>
</body>
</html>