<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<meta name="copyright" content="">
    
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta property="og:type" content="article">
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">

    <meta name="viewport" content="initial-scale=1, maximum-scale=3, minimum-scale=1, user-scalable=no">
    <meta name="author" content="lxm,1165406082@qq.com">
    <meta http-equiv="X-UA-Compatible" content="IE=8">
    <!-- <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"> -->
    <title>易企咨询</title>
    <!-- <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" /> -->
    <link href="https://cdn.bootcss.com/normalize/7.0.0/normalize.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.2/css/swiper.min.css">
    <link href="//at.alicdn.com/t/font_701636_54ujwa12xl6.css" rel="stylesheet" />
    

    <link href="/Plugin/layui/css/layui.css" rel="stylesheet" >
    <link href="/Css/layout/bootstrap.min.css" rel="stylesheet">

    <link href="/Css/layout/common.css" rel="stylesheet" />
    <link href="/Css/layout/site.css" rel="stylesheet" />
    <link href="/Css/culture/culture.css" rel="stylesheet" />
</head>
<body>
	<div class="header of">
        <div class="head clearfix">
            <a class="logo" href="/index.html">
                <img src="/Images/logo.png">
            </a>
            <span class="fr">
                <i class="icon-telphone"></i>
                <label>0755-123456789</label>
            </span>
        </div>
	</div>
    <div class="top">
        <div class="nav">
            <ul class="nav-links open">
                <li class="links">
                    <a href="/">首页</a>
                </li>
                <li class="links">
                    <a href="/">电信增值业务审批</a>
                </li>
                <li class="links on">
                    <a href="/">网络文化审批</a>
                </li>
                <li class="links">
                    <a href="/">知识产权</a>
                </li>
                <li class="links">
                    <a href="/">工商与税务</a>
                </li>
                <li class="links">
                    <a href="/">联系我们</a>
                </li>
            </ul>      
        </div>
    </div>
    <div class="banner">
        <a href="javascript:;" class="pc-banner">
            <img src="/Images/banner1.jpg" alt="">
        </a>
    </div>
    <div class="content" id="culture">
        <div class="title">
            <h3>网络文化审批</h3>
        </div>
        <div class="tabs clearfix">
            <div class="tab on">网络文化经营许可证</div>
            <div class="tab">游戏版号</div>
        </div>
    </div>
    
    <div class="wrapper culture-con">
        <div class="of pd15">
            <div class="img-box"><img src="/Images/bg_profession.jpg" alt=""></div>
            <ul class="reg-box clearfix">
                <li>
                    <div>
                        <i class="iconfont icon-major"></i>
                        <h3>专业放心</h3>
                        <p>企业核心业务100%全自营</p>
                    </div>
                </li>
                <li>
                    <div>
                        <i class="iconfont icon-quality"></i>
                        <h3>品质保证</h3>
                        <p>所有产品均为资深专业办理</p>
                    </div>
                </li>
                <li>
                    <div>
                        <i class="iconfont icon-whole"></i>
                        <h3>全程服务</h3>
                        <p>提供个人企业初创到上市的一站式服务</p>
                    </div>
                </li>
                <li>
                    <div>
                        <i class="iconfont icon-aftersale"></i>
                        <h3>售后无忧</h3>
                        <p>企业专项产品经理全程跟踪服务</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    
   
    
    <footer>
        <div class="footer">
            <ul class="bottom-list">
                <li>
                    <p>关于我们</p>
                    <a href="#">公司简介</a>
                    <a href="#">企业文化</a>
                    <a href="#">企业荣誉</a>
                </li>
                <li>
                    <p>服务支持</p>
                    <a href="#">常见问题</a>
                    <a href="#">联系我们</a>
                </li>
                <li>
                    <p>关注我们</p>
                    <a href="#">官方微博</a>
                    <a href="#">官方微信</a>
                </li>
            </ul>
            <dl class="company-num">
                <dd>地址： 广州天河区华景新城100栋10111</dd>
                <dd>电话： 15814203211</dd>
                <dd>邮编： 50000</dd>
                <dd>邮箱： yiqi@yiqi.com</dd>
            </dl>
            <div class="clearfix"></div>
            <div class="bottom-link">
                <p class="mt20">Copyright©2018 juzhang.com All Rights Reserved </p>
                <p class="copyright"><span>易企商服科技有限公司 版权所有</span><a href="https://12321.cn/" rel="nofollow">"扫黄打非”举报专区</a></p>
                <p class="num-b"><a href="http://www.miitbeian.gov.cn/" target="_blank">粤ICP备18005298号-1</a></p>
            </div>
        </div>
    </footer>

	<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/cssuseragent/2.1.31/cssua.min.js"></script>
    <script src="https://cdn.bootcss.com/placeholders/4.0.1/placeholders.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery.lazy/1.7.6/jquery.lazy.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.2/js/swiper.min.js"></script>
    <script src="/Plugin/layui/layui.js"></script>
    <script src="/Js/layout/bootstrap.min.js"></script>
    <script src="/Js/layout/root.js"></script>
    <script src="/Js/layout/site.js"></script>

    <script src="/Js/culture/culture.js"></script>

</body>
</html>