<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<meta name="copyright" content="">
    
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta property="og:type" content="article">
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">

    <meta name="viewport" content="initial-scale=1, maximum-scale=3, minimum-scale=1, user-scalable=no">
    <meta name="author" content="lxm,1165406082@qq.com">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <!-- <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"> -->
    <title>易企咨询-知识产权</title>
    <!-- <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" /> -->
    <link href="https://cdn.bootcss.com/normalize/7.0.0/normalize.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.2/css/swiper.min.css">
    <link href="//at.alicdn.com/t/font_701636_l6xp30fo04q.css" rel="stylesheet" />
    

    <link href="/Plugin/layui/css/layui.css" rel="stylesheet" >
    <link href="/Css/layout/bootstrap.min.css" rel="stylesheet">

    <link href="/Css/layout/common.css" rel="stylesheet" />
    <link href="/Css/layout/site.css" rel="stylesheet" />
    <link href="/Css/culture/culture.css" rel="stylesheet" />
    <link href="/Css/property/property.css" rel="stylesheet" />
</head>
<body>
	<div class="header of">
        <div class="head clearfix">
            <a class="logo" href="/index.html">
                <img src="/Images/logo.png">
            </a>
            <span class="fr">
                <i class="icon-telphone"></i>
                <label>0755-123456789</label>
            </span>
        </div>
	</div>
    <div class="top">
        <div class="nav">
            <ul class="nav-links open">
                <li class="links">
                    <a href="/">首页</a>
                </li>
                <li class="links">
                    <a href="/view/telecom.html">电信增值业务审批</a>
                </li>
                <li class="links">
                    <a href="/view/culture.html">网络文化审批</a>
                </li>
                <li class="links on">
                    <a href="/view/property.html">知识产权</a>
                </li>
                <li class="links">
                    <a href="/view/business.html">工商与税务</a>
                </li>
                <li class="links">
                    <a href="/view/contact.html">联系我们</a>
                </li>
            </ul>      
        </div>
    </div>
    <div class="banner">
        <a href="javascript:;" class="pc-banner">
            <img src="/Images/banner1.jpg" alt="">
        </a>
    </div>
    <div class="content" id="property">
        <div class="title">
            <h3>知识产权</h3>
        </div>
        <div class="tabs clearfix">
            <div class="tab">软件著作权</div>
            <div class="tab">商标购买</div>
            <div class="tab">商标注册</div>
        </div>
        <!-- 软件著作权 -->
        <div class="wrapper property-item">
            <div class="group of">
                <div class="little-title">
                    <span>
                        <i class="bg-primary"></i>
                        <i class="bg-orange"></i>
                    </span>
                    <h3>注册软件著作权解决四大问题</h3>
                </div>
                <ul class="solve-box clearfix">
                    <li>
                        <div class="solve-cover">
                            <div class="img-box">
                                <img src="/Images/solve-1.png" alt="">
                            </div>
                            <h3>防抄袭</h3>
                            <p>明确权利所需驳回，申请复审</p>
                        </div>
                    </li>
                     <li>
                        <div class="solve-cover">
                            <div class="img-box">
                                <img src="/Images/solve-2.png" alt="">
                            </div>
                            <h3>技术融资，入股</h3>
                            <p>注册3年都没使用，申请注册该商标</p>
                        </div>
                    </li>
                     <li>
                        <div class="solve-cover">
                            <div class="img-box">
                                <img src="/Images/solve-3.png" alt="">
                            </div>
                            <h3>减免税收</h3>
                            <p>商标被抄袭、抢注、侵权、申请异议</p>
                        </div>
                    </li>
                     <li>
                        <div class="solve-cover">
                            <div class="img-box">
                                <img src="/Images/solve-4.png" alt="">
                            </div>
                            <h3>APP商家应用商城必备</h3>
                            <p>被他人抄袭、申请无效宣告撤销该商标</p>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="group of">
                <div class="little-title">
                    <span>
                        <i class="bg-primary"></i>
                        <i class="bg-orange"></i>
                    </span>
                    <h3>谁需要注册软件著作权</h3>
                </div>
                <ul class="want-box clearfix">
                    <li>
                        <div class="want-cover">
                            <div class="img-box">
                                <img src="/Images/want-1.png" alt="">
                            </div>
                            <h3>委托他人开发者</h3>
                        </div>
                    </li>
                    <li>
                        <div class="want-cover">
                            <div class="img-box">
                                <img src="/Images/want-2.png" alt="">
                            </div>
                            <h3>互联网公司</h3>
                        </div>
                    </li>
                    <li>
                        <div class="want-cover">
                            <div class="img-box">
                                <img src="/Images/want-3.png" alt="">
                            </div>
                            <h3>网站经营者</h3>
                        </div>
                    </li>
                    <li>
                        <div class="want-cover">
                            <div class="img-box">
                                <img src="/Images/want-4.png" alt="">
                            </div>
                            <h3>开发者个人</h3>
                        </div>
                    </li>
                    <li>
                        <div class="want-cover">
                            <div class="img-box">
                                <img src="/Images/want-5.png" alt="">
                            </div>
                            <h3>软件公司</h3>
                        </div>
                    </li>
                </ul>
            </div>
            
            <div class="group of">
                <div class="little-title">
                    <span>
                        <i class="bg-primary"></i>
                        <i class="bg-orange"></i>
                    </span>
                    <h3>申请流程</h3>
                </div>
                <div class="enroll-box of">
                    <img src="/Images/flow.png" alt="">
                </div>
            </div>
           
            <div class="group of">
                <div class="little-title">
                    <span>
                        <i class="bg-primary"></i>
                        <i class="bg-orange"></i>
                    </span>
                    <h3>登记前的准备资料</h3>
                </div>
                <div class="demand-box clearfix">
                    <div class="demand-cover">
                        <div class="demand-name">公司申请</div>
                        <ul>
                            <li>1、营业执照副本</li>
                            <li>2、软件操作说明书</li>
                            <li>3、前后各30页源代码</li>
                            <li>4、加盖公章的代理委托书</li>
                        </ul>
                    </div>
                     <div class="demand-cover">
                        <div class="demand-name">个人申请</div>
                        <ul>
                            <li>1、身份证复印件 </li>
                            <li>2、软件操作说明书</li>
                            <li>3、前后各30页源代码</li>
                            <li>4、个人签字说明书代理委托书</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="group of">
                <div class="little-title">
                    <span>
                        <i class="bg-primary"></i>
                        <i class="bg-orange"></i>
                    </span>
                    <h3>需要准备的资料</h3>
                </div>
                <ul class="means-box clearfix">
                    <li>
                        <div class="means-cover">
                            <div class="means-name">您填写软件基本信息采集表</div>
                            <p>1、我们会根据什么给你签发资料</p>
                            <p>2、我们会根据什么给你签发资料</p>
                            <p>3、我们会根据什么给你签发资料</p>
                            <p>4、我们会根据什么给你签发资料</p>
                        </div>
                    </li>
                    <li>
                        <div class="means-cover">
                            <div class="means-name">您填写软件基本信息采集表</div>
                            <p>1、我们会根据什么给你签发资料</p>
                            <p>2、我们会根据什么给你签发资料</p>
                            <p>3、我们会根据什么给你签发资料</p>
                            <p>4、我们会根据什么给你签发资料</p>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="group of">
                <div class="little-title">
                    <span>
                        <i class="bg-primary"></i>
                        <i class="bg-orange"></i>
                    </span>
                    <h3>得到的资料</h3>
                </div>
                <div class="get-box clearfix">
                    <div class="img-box">
                        <img src="/Images/certificate.jpg" alt="">
                    </div>
                </div>
            </div>

            <div class="group of">
                <div class="little-title">
                    <span>
                        <i class="bg-primary"></i>
                        <i class="bg-orange"></i>
                    </span>
                    <h3>保护知识产权，一站式全解决</h3>
                </div>
                <ul class="aegis-box clearfix">
                    <li>
                        <div class="aegis-cover">
                            <div class="aegis-img">
                                <img src="/Images/aegis-1.png">
                            </div>
                            <h3>专利申请</h3>
                        </div>
                    </li>
                    <li>
                        <div class="aegis-cover">
                            <div class="aegis-img">
                                <img src="/Images/aegis-2.png">
                            </div>
                            <h3>文字或美术著作权</h3>
                        </div>
                    </li>
                    <li>
                        <div class="aegis-cover">
                            <div class="aegis-img">
                                <img src="/Images/aegis-3.png">
                            </div>
                            <h3>软件著作权</h3>
                        </div>
                    </li>
                    <li>
                        <div class="aegis-cover">
                            <div class="aegis-img">
                                <img src="/Images/aegis-4.png">
                            </div>
                            <h3>商标驳回复审</h3>
                        </div>
                    </li>
                </ul>
            </div>
    
            <div class="group of">
                <div class="little-title">
                    <span>
                        <i class="bg-primary"></i>
                        <i class="bg-orange"></i>
                    </span>
                    <h3>我们的承诺</h3>
                </div>
                <ul class="letter-box clearfix">
                    <li>
                        <div>
                            <div class="iconfont">
                                <i class="icon-recruit"></i>
                            </div>
                            <p>专业服务 品质保证</p>
                            <p>全国最专业的资质办理机</p>
                            <p>中国互联网企业专业服务</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <div class="iconfont">
                                <i class="icon-book"></i>
                            </div>
                            <p>全程服务</p>
                            <p>全国最专业的资质办理机</p>
                            <p>中国互联网企业专业服务</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <div class="iconfont">
                                <i class="icon-fast"></i>
                            </div>
                            <p>快速</p>
                            <p>全国最专业的资质办理机</p>
                            <p>中国互联网企业专业服务</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <div class="iconfont">
                                <i class="icon-aftersale"></i>
                            </div>
                            <p>保障</p>
                            <p>全国最专业的资质办理机</p>
                            <p>中国互联网企业专业服务</p>
                        </div>
                    </li>
                </ul>
            </div>
    
            <div class="group of">
                <div class="little-title">
                    <span>
                        <i class="bg-primary"></i>
                        <i class="bg-orange"></i>
                    </span>
                    <h3>专业展示</h3>
                </div>
                <div class="img-box"><img src="/Images/bg_profession.jpg" alt=""></div>
                <ul class="reg-box clearfix">
                    <li>
                        <div>
                            <i class="iconfont icon-major"></i>
                            <h3>专业放心</h3>
                            <p>企业核心业务100%全自营</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <i class="iconfont icon-quality"></i>
                            <h3>品质保证</h3>
                            <p>所有产品均为资深专业办理</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <i class="iconfont icon-whole"></i>
                            <h3>全程服务</h3>
                            <p>提供个人企业初创到上市的一站式服务</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <i class="iconfont icon-aftersale"></i>
                            <h3>售后无忧</h3>
                            <p>企业专项产品经理全程跟踪服务</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- 商标购买-->
        <div class="wrapper property-item">
            <div class="group of">
                <div class="little-title">
                    <span>
                        <i class="bg-primary"></i>
                        <i class="bg-orange"></i>
                    </span>
                    <h3>什么是EDI许可证</h3>
                </div>
                <div class="need-box clearfix">
                    <div class="img-box">
                        <img src="/Images/EDI.jpg" alt="">
                    </div>
                    <div class="need-info">全称：在线数据处理与交易处理业务许可证</div>
                </div>
            </div>
            <div class="group of">
                <div class="little-title">
                    <span>
                        <i class="bg-primary"></i>
                        <i class="bg-orange"></i>
                    </span>
                    <h3>哪些企业需要办理</h3>
                </div>
                <ul class="handle-box clearfix">
                    <li>
                        <div class="handle-cover">
                            <i class="iconfont icon-retailers"></i>
                            <p>第三方电商平台</p>
                        </div>
                    </li>
                    <li>
                        <div class="handle-cover">
                            <i class="iconfont icon-recruit"></i>
                            <p>招聘平台</p>
                        </div>
                    </li>
                    <li>
                        <div class="handle-cover">
                            <i class="iconfont icon-publish"></i>
                            <p>收费信息发布平台</p>
                        </div>
                    </li>
                    <li>
                        <div class="handle-cover">
                            <i class="iconfont icon-netloan"></i>
                            <p>P2P网贷平台</p>
                        </div>
                    </li>
                </ul>
            </div>
        
            <div class="group of">
                <div class="little-title">
                    <span>
                        <i class="bg-primary"></i>
                        <i class="bg-orange"></i>
                    </span>
                    <h3>需要的资质</h3>
                </div>
                <ul class="ex-box clearfix">
                    <li class="ex-item">
                        <i class="tag">1</i>
                        <p>经营者为依法设立的公司。</p>
                    </li>
                    <li class="ex-item">
                        <i class="tag">2</i>
                        <p>认缴注册资金全网至少1000万，地网至少100万。</p>
                    </li>
                    <li class="ex-item">
                        <i class="tag">3</i>
                        <p>属于全内资企业（注册资金不能有外资）。</p>
                    </li>
                    <li class="ex-item">
                        <i class="tag">4</i>
                        <p>股东及法人证件（股东及法人不能是外籍身份）。</p>
                    </li>
                    <li class="ex-item">
                        <i class="tag">5</i>
                        <p>有必要的人员、办公地址场所。</p>
                    </li>
                    <li class="ex-item">
                        <i class="tag">6</i>
                        <p>公司有良好的信息记录。</p>
                    </li>
                    <li class="ex-item">
                        <i class="tag">7</i>
                        <p>有可行性研究报告和相关技术方案。</p>
                    </li>
                </ul>
            </div>
        
            <div class="group of">
                <div class="little-title">
                    <span>
                        <i class="bg-primary"></i>
                        <i class="bg-orange"></i>
                    </span>
                    <h3>申请流程</h3>
                </div>
                <div class="flow-box of">
                    <div class="flow-cover">
                        <div class="head bg-gray">官方流程复杂繁琐</div>
                        <ul class="flow-cell">
                            <div class="line"></div>
                            <li class="left-cell">
                                <div>
                                    <span>甄别网站类别</span>
                                    <div class="tag"><i class="icon-search"></i></div>
                                </div>
                            </li>
                            <li class="right-cell">
                                <div>
                                    <div class="tag"><i class="icon-hardware"></i></div>
                                    <span>购买服务器空间</span>
                                </div>
                            </li>
                            <li class="left-cell">
                                <div>
                                    <span>搭建公司网站</span>
                                    <div class="tag"><i class="icon-net"></i></div>
                                </div>
                            </li>
                            <li class="right-cell">
                                <div>
                                    <div class="tag"><i class="icon-class"></i></div>
                                    <span>拟定基础材料</span>
                                </div>
                            </li>
                            <li class="left-cell">
                                <div>
                                    <span>网站域名备案</span>
                                    <div class="tag"><i class="icon-record"></i></div>
                                </div>
                            </li>
                            <li class="right-cell">
                                <div>
                                    <div class="tag"><i class="icon-post"></i></div>
                                    <span>网申或纸质材料提交</span>
                                </div>
                            </li>
                            <li class="left-cell">
                                <div>
                                    <span>出具网文自查报告</span>
                                    <div class="tag"><i class="icon-haw"></i></div>
                                </div>
                            </li>
                            <li class="right-cell">
                                <div>
                                    <div class="tag"><i class="icon-notice"></i></div>
                                    <span>领取受理通知书</span>
                                </div>
                            </li>
                            <li class="left-cell">
                                <div>
                                    <span>领取证书</span>
                                    <div class="tag"><i>证</i></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="flow-cover">
                        <div class="head bg-primary">我们来办只需五步</div>
                        <ul class="flow-cell">
                            <div class="line"></div>
                            <li class="center-cell">
                                <div class="lg-tag"><i class="icon-coo"></i></div>
                                <p>确定合作意向</p>
                            </li>
                            <li class="center-cell">
                                <div class="lg-tag"><i class="icon-comment"></i></div>
                                <p>商务合作洽谈</p>
                            </li>
                            <li class="center-cell">
                                <div class="lg-tag"><i class="icon-matter"></i></div>
                                <p>基础材料准备</p>
                            </li>
                            <li class="center-cell">
                                <div class="lg-tag"><i class="icon-examine"></i></div>
                                <p>提交审核</p>
                            </li>
                            <li class="center-cell">
                                <div class="lg-tag"><i">证</i></div>
                                <p>领取证书</p>
                            </li>
                        </ul>
                    </div>
                    <div class="vs"><img src="/Images/vs.jpg"></div>
                </div>

                <div class="call-box">
                    <div class="call-cover">
                        <a class="call-cell bg-primary">在线咨询</a>
                        <a class="call-cell bg-gray">TEL：0755-123456789</a>
                    </div>
                </div>
            </div>

            <div class="group of">
                <div class="little-title">
                    <span>
                        <i class="bg-primary"></i>
                        <i class="bg-orange"></i>
                    </span>
                    <h3>EDI服务分类</h3>
                </div>
                <ul class="classify-box clearfix">
                    <li>
                        <div class="classify-cover">
                            <i class="iconfont icon-apply"></i>
                            <h3>全网EDI许可证申请</h3>
                        </div>
                    </li>
                    <li>
                        <div class="classify-cover">
                            <i class="iconfont icon-user"></i>
                            <h3>地网EDI许可证申请</h3>
                        </div>
                    </li>
                    <li>
                        <div class="classify-cover">
                            <i class="iconfont icon-change"></i>
                            <h3>EDI许可证变更</h3>
                        </div>
                    </li>
                    <li>
                        <div class="classify-cover">
                            <i class="iconfont icon-annual"></i>
                            <h3>EDI许可证年检</h3>
                        </div>
                    </li>
                    <li>
                        <div class="classify-cover">
                            <i class="iconfont icon-logof"></i>
                            <h3>EDI许可证注销</h3>
                        </div>
                    </li>
                    <li>
                        <div class="classify-cover">
                            <i class="iconfont icon-rollover"></i>
                            <h3>EDI许可证续期</h3>
                        </div>
                    </li>
                </ul>
            </div>
             
            <div class="group of">
                <div class="little-title">
                    <span>
                        <i class="bg-primary"></i>
                        <i class="bg-orange"></i>
                    </span>
                    <h3>我们的承诺</h3>
                </div>
                <ul class="letter-box clearfix">
                    <li>
                        <div>
                            <div class="iconfont">
                                <i class="icon-recruit"></i>
                            </div>
                            <p>专业服务 品质保证</p>
                            <p>全国最专业的资质办理机</p>
                            <p>中国互联网企业专业服务</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <div class="iconfont">
                                <i class="icon-book"></i>
                            </div>
                            <p>全程服务</p>
                            <p>全国最专业的资质办理机</p>
                            <p>中国互联网企业专业服务</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <div class="iconfont">
                                <i class="icon-fast"></i>
                            </div>
                            <p>快速</p>
                            <p>全国最专业的资质办理机</p>
                            <p>中国互联网企业专业服务</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <div class="iconfont">
                                <i class="icon-aftersale"></i>
                            </div>
                            <p>保障</p>
                            <p>全国最专业的资质办理机</p>
                            <p>中国互联网企业专业服务</p>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="group of">
                <div class="little-title">
                    <span>
                        <i class="bg-primary"></i>
                        <i class="bg-orange"></i>
                    </span>
                    <h3>专业展示</h3>
                </div>

                <div class="img-box"><img src="/Images/bg_profession.jpg" alt=""></div>
                <ul class="reg-box clearfix">
                    <li>
                        <div>
                            <i class="iconfont icon-major"></i>
                            <h3>专业放心</h3>
                            <p>企业核心业务100%全自营</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <i class="iconfont icon-quality"></i>
                            <h3>品质保证</h3>
                            <p>所有产品均为资深专业办理</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <i class="iconfont icon-whole"></i>
                            <h3>全程服务</h3>
                            <p>提供个人企业初创到上市的一站式服务</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <i class="iconfont icon-aftersale"></i>
                            <h3>售后无忧</h3>
                            <p>企业专项产品经理全程跟踪服务</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- 商标注册-->
        <div class="wrapper property-item">
            <div class="group of">
                <div class="little-title">
                    <span>
                        <i class="bg-primary"></i>
                        <i class="bg-orange"></i>
                    </span>
                    <h3>为什么要注册商标</h3>
                </div>
                <div class="brand-box clearfix">
                    <div class="brand-name line-height"><h2>为什么要注册商标?</h2></div>
                    <ul class="brand-info">
                        <li>
                            <div class="brand-cover">
                                <i class="iconfont icon-paper"></i>
                                <h2>市场运营通行证</h2>
                                <p>办理质检，卫检，条形码等的必要条件</p>
                                <p>便于消费者认牌购物，打造品牌效应</p>
                            </div>
                        </li>
                        <li>
                            <div class="brand-cover">
                                <i class="iconfont icon-aftersale"></i>
                                <h2>品牌保护盾牌</h2>
                                <p>增强顾客对产品或服务的信息</p>
                                <p>商标注册人拥有商标专用权，受法律保护，防止假冒</p>
                            </div>
                        </li>
                        <li>
                            <div class="brand-cover">
                                <i class="iconfont icon-book"></i>
                                <h2>增加无形资产</h2>
                                <p>为申请驰名商标做准备</p>
                                <p>对其价格进行评估，可以通过转让，许可或质押来实现其价值</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="group of">
                <div class="little-title">
                    <span>
                        <i class="bg-primary"></i>
                        <i class="bg-orange"></i>
                    </span>
                    <h3>商标的构成（我国注册的商标主要包含以下六种元素，可以由一种或者多种元素组成）</h3>
                </div>
                <ul class="constitute-box clearfix">
                    
                    <li>
                        <div class="constitute-cover">
                            <div class="bg-iconfont"><i class="iconfont icon-text"></i></div>
                            <h3>文字</h3>
                            <p>用各种不同文字组合的商标</p>
                        </div>
                    </li>
                    <li>
                        <div class="constitute-cover">
                            <div class="bg-iconfont"><i class="iconfont icon-graph"></i></div>
                            <h3>图形</h3>
                            <p>用符号、集合图形等构成的商标</p>
                        </div>
                    </li>
                    <li>
                        <div class="constitute-cover">
                            <div class="bg-iconfont"><i class="iconfont icon-letter"></i></div>
                            <h3>字母</h3>
                            <p>用各种字母等构成的商标</p>
                        </div>
                    </li>
                    <li>
                        <div class="constitute-cover">
                            <div class="bg-iconfont"><i class="iconfont icon-number"></i></div>
                            <h3>数字</h3>
                            <p>用数字或中文大写数字构成的商标</p>
                        </div>
                    </li>
                    <li>
                        <div class="constitute-cover">
                            <div class="bg-iconfont"><i class="iconfont icon-dimension"></i></div>
                            <h3>三维标志</h3>
                            <p>由三维立体物标志构成的商标</p>
                        </div>
                    </li>
                    <li>
                        <div class="constitute-cover">
                            <div class="bg-iconfont"><i class="iconfont icon-color"></i></div>
                            <h3>颜色组合</h3>
                            <p>由两种及以上的彩色构成的商标</p>
                        </div>
                    </li>
                </ul>
            </div>
        
            <div class="group of">
                <div class="little-title">
                    <span>
                        <i class="bg-primary"></i>
                        <i class="bg-orange"></i>
                    </span>
                    <h3>商标注册服务流程</h3>
                </div>
                <ul class="wander-box clearfix">
                    <li>
                        <div class="wander-cover">
                            <div class="bg-iconfont"><i class="iconfont icon-brilliant"></i></div>
                            <h3>免费查询</h3>
                            <p>查询能否注册</p>
                            <span class="wander-next"><i class="icon-enter"></i></span>
                        </div>
                    </li>
                    <li>
                        <div class="wander-cover">
                            <div class="bg-iconfont"><i class="iconfont icon-user-sub"></i></div>
                            <h3>准备材料提交</h3>
                            <p>查询能否注册</p>
                            <span class="wander-next"><i class="icon-enter"></i></span>
                        </div>
                    </li>
                    <li>
                        <div class="wander-cover">
                            <div class="bg-iconfont"><i class="iconfont icon-medal"></i></div>
                            <h3>官方审查</h3>
                            <p>查询能否注册</p>
                            <span class="wander-next"><i class="icon-enter"></i></span>
                        </div>
                    </li>
                    <li>
                        <div class="wander-cover">
                            <div class="bg-iconfont"><i class="iconfont icon-user-msg"></i></div>
                            <h3>注册成功</h3>
                            <p>查询能否注册</p>
                            <span class="wander-next"><i class="icon-enter"></i></span>
                        </div>
                    </li>
                    <li>
                        <div class="wander-cover">
                            <div class="bg-iconfont"><i class="iconfont icon-ass"></i></div>
                            <h3>相关材料交接</h3>
                            <p>查询能否注册</p>
                        </div>
                    </li>
                </ul>
            </div>

           <div class="group of">
                <div class="little-title">
                    <span>
                        <i class="bg-primary"></i>
                        <i class="bg-orange"></i>
                    </span>
                    <h3>需要准备的资料</h3>
                </div>
                <div class="demand-box clearfix">
                    <div class="demand-cover">
                        <div class="demand-name">个人申请</div>
                        <ul>
                            <li>1、个人身份证复印件</li>
                            <li>2、个体工商户营业执照复印件</li>
                        </ul>
                    </div>
                     <div class="demand-cover">
                        <div class="demand-name">公司名义申请</div>
                        <ul>
                            <li>1、法人身份证复印件</li>
                            <li>2、营业执照副本复印件</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="group of">
                <div class="little-title">
                    <span>
                        <i class="bg-primary"></i>
                        <i class="bg-orange"></i>
                    </span>
                    <h3>得到的材料</h3>
                </div>
                <div class="demand-box clearfix">
                    <div class="demand-cover">
                        <div class="demand-name">个人申请</div>
                        <ul>
                            <li>1、个人身份证复印件</li>
                            <li>2、个体工商户营业执照复印件</li>
                        </ul>
                    </div>
                     <div class="demand-cover">
                        <div class="demand-name">公司名义申请</div>
                        <ul>
                            <li>1、法人身份证复印件</li>
                            <li>2、营业执照副本复印件</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="group of">
                <div class="little-title">
                    <span>
                        <i class="bg-primary"></i>
                        <i class="bg-orange"></i>
                    </span>
                    <h3>保护知识产权，一站式全解决</h3>
                </div>
                <ul class="aegis-box clearfix">
                    <li>
                        <div class="aegis-cover">
                            <div class="aegis-img">
                                <img src="/Images/aegis-1.png">
                            </div>
                            <h3>专利申请</h3>
                        </div>
                    </li>
                    <li>
                        <div class="aegis-cover">
                            <div class="aegis-img">
                                <img src="/Images/aegis-2.png">
                            </div>
                            <h3>文字或美术著作权</h3>
                        </div>
                    </li>
                    <li>
                        <div class="aegis-cover">
                            <div class="aegis-img">
                                <img src="/Images/aegis-3.png">
                            </div>
                            <h3>软件著作权</h3>
                        </div>
                    </li>
                    <li>
                        <div class="aegis-cover">
                            <div class="aegis-img">
                                <img src="/Images/aegis-4.png">
                            </div>
                            <h3>商标驳回复审</h3>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="group of">
                <div class="little-title">
                    <span>
                        <i class="bg-primary"></i>
                        <i class="bg-orange"></i>
                    </span>
                    <h3>我们的承诺</h3>
                </div>
                <ul class="letter-box clearfix">
                    <li>
                        <div>
                            <div class="iconfont">
                                <i class="icon-recruit"></i>
                            </div>
                            <p>专业服务 品质保证</p>
                            <p>全国最专业的资质办理机</p>
                            <p>中国互联网企业专业服务</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <div class="iconfont">
                                <i class="icon-book"></i>
                            </div>
                            <p>全程服务</p>
                            <p>全国最专业的资质办理机</p>
                            <p>中国互联网企业专业服务</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <div class="iconfont">
                                <i class="icon-fast"></i>
                            </div>
                            <p>快速</p>
                            <p>全国最专业的资质办理机</p>
                            <p>中国互联网企业专业服务</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <div class="iconfont">
                                <i class="icon-aftersale"></i>
                            </div>
                            <p>保障</p>
                            <p>全国最专业的资质办理机</p>
                            <p>中国互联网企业专业服务</p>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="group of">
                <div class="little-title">
                    <span>
                        <i class="bg-primary"></i>
                        <i class="bg-orange"></i>
                    </span>
                    <h3>专业展示</h3>
                </div>

                <div class="img-box"><img src="/Images/bg_profession.jpg" alt=""></div>
                <ul class="reg-box clearfix">
                    <li>
                        <div>
                            <i class="iconfont icon-major"></i>
                            <h3>专业放心</h3>
                            <p>企业核心业务100%全自营</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <i class="iconfont icon-quality"></i>
                            <h3>品质保证</h3>
                            <p>所有产品均为资深专业办理</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <i class="iconfont icon-whole"></i>
                            <h3>全程服务</h3>
                            <p>提供个人企业初创到上市的一站式服务</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <i class="iconfont icon-aftersale"></i>
                            <h3>售后无忧</h3>
                            <p>企业专项产品经理全程跟踪服务</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

    </div>
    
    <footer>
        <div class="footer">
            <ul class="bottom-list">
                <li>
                    <p>关于我们</p>
                    <a href="#">公司简介</a>
                    <a href="#">企业文化</a>
                    <a href="#">企业荣誉</a>
                </li>
                <li>
                    <p>服务支持</p>
                    <a href="#">常见问题</a>
                    <a href="#">联系我们</a>
                </li>
                <li>
                    <p>关注我们</p>
                    <a href="#">官方微博</a>
                    <a href="#">官方微信</a>
                </li>
            </ul>
            <dl class="company-num">
                <dd>地址： 广州天河区华景新城100栋10111</dd>
                <dd>电话： 15814203211</dd>
                <dd>邮编： 50000</dd>
                <dd>邮箱： yiqi@yiqi.com</dd>
            </dl>
            <div class="clearfix"></div>
            <div class="bottom-link">
                <p class="mt20">Copyright©2018 易企商服 All Rights Reserved </p>
                <p class="copyright"><span>易企商服科技有限公司 版权所有</span><a href="https://12321.cn/" rel="nofollow">"扫黄打非”举报专区</a></p>
                <p class="num-b"><a href="http://www.miitbeian.gov.cn/" target="_blank">粤ICP备18005298号-1</a></p>
            </div>
        </div>
    </footer>

	<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/cssuseragent/2.1.31/cssua.min.js"></script>
    <script src="https://cdn.bootcss.com/placeholders/4.0.1/placeholders.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery.lazy/1.7.6/jquery.lazy.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.2/js/swiper.min.js"></script>
    <script src="/Plugin/layui/layui.js"></script>
    <script src="/Js/layout/bootstrap.min.js"></script>
    <script src="/Js/layout/root.js"></script>
    <script src="/Js/layout/site.js"></script>

    <script src="/Js/property/property.js"></script>

</body>
</html>