<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<meta name="copyright" content="">
    
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta property="og:type" content="article">
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">

    <meta name="viewport" content="initial-scale=1, maximum-scale=3, minimum-scale=1, user-scalable=no">
    <meta name="author" content="lxm,1165406082@qq.com">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <!-- <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"> -->
    <title>易企咨询-电信增值业务审批</title>
    <!-- <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" /> -->
    <link href="https://cdn.bootcss.com/normalize/7.0.0/normalize.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.2/css/swiper.min.css">
    <link href="//at.alicdn.com/t/font_701636_f1afs3axnk.css" rel="stylesheet" />
    

    <link href="/Plugin/layui/css/layui.css" rel="stylesheet" >
    <link href="/Css/layout/bootstrap.min.css" rel="stylesheet">

    <link href="/Css/layout/common.css" rel="stylesheet" />
    <link href="/Css/layout/site.css" rel="stylesheet" />
    <link href="/Css/culture/culture.css" rel="stylesheet" />
    <link href="/Css/telecom/telecom.css" rel="stylesheet" />
</head>
<body>
	<div class="header">
        <div class="head clearfix">
            <a class="logo" href="/index.html">
                <img src="/Images/logo.png">
            </a>
            <span class="header-telphone fr">
                <i class="icon-telphone"></i>
                <label>0755-123456789</label>
            </span>
            <div class="menu-btn fr"><i class="icon-menu"></i></div>
        </div>
    </div>
    
    <div class="top">
        <div class="nav">
            <ul class="nav-links open">
                <li class="links">
                    <a href="/">首页</a>
                </li>
                <li class="links on">
                    <a href="/view/telecom.html">电信增值业务审批</a>
                </li>
                <li class="links">
                    <a href="/view/culture.html">网络文化审批</a>
                </li>
                <li class="links">
                    <a href="/view/property.html">知识产权</a>
                </li>
                <li class="links">
                    <a href="/view/business.html">工商与税务</a>
                </li>
                <li class="links">
                    <a href="/view/contact.html">联系我们</a>
                </li>
            </ul>      
        </div>
    </div>

    <div class="pop-bg"></div>

    <div class="banner">
        <a href="javascript:;" class="pc-banner">
            <img src="/Images/banner1.jpg" alt="">
        </a>
    </div>
    <div class="content" id="telecom">
        <div class="title">
            <h3>电信增值业务审批</h3>
        </div>
        <div class="tabs clearfix">
            <div class="tab">ICP-互联网信息服务业务</div>
            <div class="tab">EDI-许可证业务</div>
            <div class="tab">SP-许可证业务</div>
        </div>
        <!-- 互联网信息服务业务 -->
        <div class="wrapper telecom-item">
            <div class="group">
                <div class="little-title">
                    <span>
                        <i class="bg-primary"></i>
                        <i class="bg-orange"></i>
                    </span>
                    <h3>什么是ICP许可证</h3>
                </div>
                <div class="need-box clearfix">
                    <a href="/Images/ICP.jpg" class="img-box jqzoom">
                        <img class="zoom_image" src="/Images/ICP.jpg" jqimg="/Images/ICP.jpg" alt="">
                    </a>
                    <div class="need-info">中华人民共和国电信与信息服务业务经营许可证（简称：ICP许可证）是指一般性经营性网站的主办者向当地区县申请的证书证明，即《中华人民共和国电信与信息服务业务经营许可证》。经营性ICP，经营的内容主要是网上广告、有偿提供特定信息内容、电子商务及其它网上应用服务。</div>
                </div>
            </div>

            <div class="group of">
                <div class="little-title">
                    <span>
                        <i class="bg-primary"></i>
                        <i class="bg-orange"></i>
                    </span>
                    <h3>ICP备案与ICP的区别</h3>
                </div>
                <ul class="ex-box clearfix">
                    <li class="ex-item">
                        <i class="tag">1</i>
                        <p>ICP备案是基于网站的政府部门为了防止非法网站经营 活动，打击不良互联网信息的传播，要求网站必须进行IC 备案，如果网站不备案的话，极有可能被查处以后关停。ICP备 案是不收取任何手续费的，建议大家可以自行联系服务器提供 商或备案官方网站进行备案。</p>
                    </li>
                    <li class="ex-item">
                        <i class="tag">2</i>
                        <p>”ICP许可证”是企业经营“增值电信服务”的一种资质。 公司经营“增值电信服务”时（如：游戏会员、付费的网页活 动、网站广告等虚拟的有偿信息服务），需要办理“ICP许可 证”，方能合法的经营相关业务。</p>
                    </li>
                </ul>
            </div>

            <div class="group of">
                <div class="little-title">
                    <span>
                        <i class="bg-primary"></i>
                        <i class="bg-orange"></i>
                    </span>
                    <h3>哪些网站需要ICP许可证<em class="tips">（属于经营性网站则必须办理ICP，否则属于非法经营）</em></h3>
                </div>
                <ul class="ex-box clearfix">
                    <li class="ex-item">
                        <i class="tag">1</i>
                        <p>属于经营性网站则必须办理ICP，否则属于非法经营</p>
                    </li>
                    <li class="ex-item">
                        <i class="tag">2</i>
                        <p>ICP许可证由企业注册所在地的通信管理局审批，因而在政策上，各地区会有细微的差别</p>
                    </li>
                    <li class="ex-item">
                        <i class="tag">3</i>
                        <p>只要企业的盈利模式设计互联网有偿信息服务的，如在线销售、在线支付、广告招商、项目投标均需要办理此证。</p>
                    </li>
                </ul>
                <ul class="edition-box clearfix">
                    <li>
                        <div class="edition-cover bg-blue">
                            <h3>哪些网站需要办理</h3>
                            <p>你的网站收费了吗?</p>
                            <p>你的网站是否有在线交易或购买?</p>
                            <p>你的网站是经营性质的吗?</p>
                            <i class="iconfont icon-see"></i>
                            <div class="btn-box">我要咨询</div>
                        </div>
                    </li>
                    <li>
                        <div class="edition-cover bg-brown">
                            <h3>哪些企业需要办理</h3>
                            <p>你的企业打算往线上发展么？</p>
                            <p>你你的企业打算建线上交易网站？</p>
                            <i class="iconfont icon-paper"></i>
                            <div class="btn-box">我要咨询</div>
                        </div>
                    </li>
                    <li>
                        <div class="edition-cover bg-green">
                            <h3>哪些特殊情况需要办理</h3>
                            <p>需要申请政府互联网相关项目</p>
                            <p>游戏开发、运营、代制作网页制作</p>
                            <i class="iconfont icon-book"></i>
                            <div class="btn-box">我要咨询</div>
                        </div>
                    </li>
                </ul>
            </div>
            
            <div class="group of">
                <div class="little-title">
                    <span>
                        <i class="bg-primary"></i>
                        <i class="bg-orange"></i>
                    </span>
                    <h3>申请条件</h3>
                </div>
                <ul class="ex-box clearfix">
                    <li class="ex-item">
                        <i class="tag">1</i>
                        <p>公司注册资金100万以上公司属于内资企业外资占比不得高于49%</p>
                    </li>
                    <li class="ex-item">
                        <i class="tag">2</i>
                        <p>符合当地通管局要求的最低技术人员学历证及社保缴费记录有必要的场地、设施及技术方案可行性研究报告</p>
                    </li>
                    <li class="ex-item">
                        <i class="tag">3</i>
                        <p>没有违规违纪违法的记录通管局提出修改时积极配合少数情况下会有实地核查</p>
                    </li>
                </ul>
            </div>
            
            <div class="group of">
                <div class="little-title">
                    <span>
                        <i class="bg-primary"></i>
                        <i class="bg-orange"></i>
                    </span>
                    <h3>申请流程</h3>
                </div>
                <div class="flow-box of">
                    <div class="flow-cover">
                        <div class="head bg-gray">官方流程复杂繁琐</div>
                        <ul class="flow-cell">
                            <div class="line"></div>
                            <li class="left-cell">
                                <div>
                                    <span>申请域名/购买空间</span>
                                    <div class="tag"><i class="icon-search"></i></div>
                                </div>
                            </li>
                            <li class="right-cell">
                                <div>
                                    <div class="tag"><i class="icon-hardware"></i></div>
                                    <span>制作网站/发布</span>
                                </div>
                            </li>
                            <li class="left-cell">
                                <div>
                                    <span>提交网站备案至介入商</span>
                                    <div class="tag"><i class="icon-net"></i></div>
                                </div>
                            </li>
                            <li class="right-cell">
                                <div>
                                    <div class="tag"><i class="icon-class"></i></div>
                                    <span>通管局代审核</span>
                                </div>
                            </li>
                            <li class="left-cell">
                                <div>
                                    <span>准备基础材料</span>
                                    <div class="tag"><i class="icon-record"></i></div>
                                </div>
                            </li>
                            <li class="right-cell">
                                <div>
                                    <div class="tag"><i class="icon-post"></i></div>
                                    <span>通管局待审核</span>
                                </div>
                            </li>
                            <li class="left-cell">
                                <div>
                                    <span>提交纸质材料至通管局</span>
                                    <div class="tag"><i class="icon-haw"></i></div>
                                </div>
                            </li>
                            <li class="right-cell">
                                <div>
                                    <div class="tag"><i class="icon-notice"></i></div>
                                    <span>审核待定</span>
                                </div>
                            </li>
                            <li class="left-cell">
                                <div>
                                    <span>领取证书</span>
                                    <div class="tag"><i>证</i></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="flow-cover">
                        <div class="head bg-primary">我们来办只需五步</div>
                        <ul class="flow-cell">
                            <div class="line"></div>
                            <li class="center-cell">
                                <div class="lg-tag"><i class="icon-coo"></i></div>
                                <p>确定合作意向</p>
                            </li>
                            <li class="center-cell">
                                <div class="lg-tag"><i class="icon-comment"></i></div>
                                <p>商务合作洽谈</p>
                            </li>
                            <li class="center-cell">
                                <div class="lg-tag"><i class="icon-matter"></i></div>
                                <p>基础材料准备</p>
                            </li>
                            <li class="center-cell">
                                <div class="lg-tag"><i class="icon-examine"></i></div>
                                <p>提交审核</p>
                            </li>
                            <li class="center-cell">
                                <div class="lg-tag"><i">证</i></div>
                                <p>领取证书</p>
                            </li>
                        </ul>
                    </div>
                    <div class="vs"><img src="/Images/vs.jpg"></div>
                </div>

                <div class="call-box">
                    <div class="call-cover">
                        <a class="call-cell bg-primary">在线咨询</a>
                        <a class="call-cell bg-gray">TEL：0755-123456789</a>
                    </div>
                </div>
            </div>
           
            <div class="group of">
                <div class="little-title">
                    <span>
                        <i class="bg-primary"></i>
                        <i class="bg-orange"></i>
                    </span>
                    <h3>关于ICP许可证，您可能需要这些服务</h3>
                </div>
                
                <ul class="classify-box clearfix">
                    <li>
                        <div class="classify-cover">
                            <i class="iconfont icon-apply"></i>
                            <h3>ICP年检</h3>
                        </div>
                    </li>
                    <li>
                        <div class="classify-cover">
                            <i class="iconfont icon-change"></i>
                            <h3>ICP变更</h3>
                        </div>
                    </li>
                    <li>
                        <div class="classify-cover">
                            <i class="iconfont icon-gain"></i>
                            <h3>ICP增项</h3>
                        </div>
                    </li>
                    <li>
                        <div class="classify-cover">
                            <i class="iconfont icon-rollover"></i>
                            <h3>ICP续期</h3>
                        </div>
                    </li>
                    <li>
                        <div class="classify-cover">
                            <i class="iconfont icon-logof"></i>
                            <h3>ICP注销</h3>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="group of">
                <div class="little-title">
                    <span>
                        <i class="bg-primary"></i>
                        <i class="bg-orange"></i>
                    </span>
                    <h3>我们的承诺</h3>
                </div>
                <ul class="letter-box clearfix">
                    <li>
                        <div>
                            <div class="iconfont">
                                <i class="icon-recruit"></i>
                            </div>
                            <p>专业服务 品质保证</p>
                            <p>全国最专业的资质办理机</p>
                            <p>中国互联网企业专业服务</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <div class="iconfont">
                                <i class="icon-book"></i>
                            </div>
                            <p>全程服务</p>
                            <p>全国最专业的资质办理机</p>
                            <p>中国互联网企业专业服务</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <div class="iconfont">
                                <i class="icon-fast"></i>
                            </div>
                            <p>快速</p>
                            <p>全国最专业的资质办理机</p>
                            <p>中国互联网企业专业服务</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <div class="iconfont">
                                <i class="icon-aftersale"></i>
                            </div>
                            <p>保障</p>
                            <p>全国最专业的资质办理机</p>
                            <p>中国互联网企业专业服务</p>
                        </div>
                    </li>
                </ul>
            </div>
    
            <div class="group of">
                <div class="little-title">
                    <span>
                        <i class="bg-primary"></i>
                        <i class="bg-orange"></i>
                    </span>
                    <h3>专业展示</h3>
                </div>
                <div class="img-box"><img src="/Images/bg_profession.jpg" alt=""></div>
                <ul class="reg-box clearfix">
                    <li>
                        <div>
                            <i class="iconfont icon-major"></i>
                            <h3>专业放心</h3>
                            <p>企业核心业务100%全自营</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <i class="iconfont icon-quality"></i>
                            <h3>品质保证</h3>
                            <p>所有产品均为资深专业办理</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <i class="iconfont icon-whole"></i>
                            <h3>全程服务</h3>
                            <p>提供个人企业初创到上市的一站式服务</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <i class="iconfont icon-aftersale"></i>
                            <h3>售后无忧</h3>
                            <p>企业专项产品经理全程跟踪服务</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- EDI-许可证业务-->
        <div class="wrapper telecom-item">
            <div class="group">
                <div class="little-title">
                    <span>
                        <i class="bg-primary"></i>
                        <i class="bg-orange"></i>
                    </span>
                    <h3>什么是EDI许可证</h3>
                </div>
                <div class="need-box clearfix">
                    <a href="../Images/EDI.jpg" class="img-box">
                        <img class="zoom_image" src="/Images/EDI.jpg" alt="">
                    </a>
                    <div class="need-info">全称：在线数据处理与交易处理业务许可证</div>
                </div>
            </div>
            <div class="group of">
                <div class="little-title">
                    <span>
                        <i class="bg-primary"></i>
                        <i class="bg-orange"></i>
                    </span>
                    <h3>哪些企业需要办理</h3>
                </div>
                <ul class="handle-box clearfix">
                    <li>
                        <div class="handle-cover">
                            <i class="iconfont icon-retailers"></i>
                            <p>第三方电商平台</p>
                        </div>
                    </li>
                    <li>
                        <div class="handle-cover">
                            <i class="iconfont icon-recruit"></i>
                            <p>招聘平台</p>
                        </div>
                    </li>
                    <li>
                        <div class="handle-cover">
                            <i class="iconfont icon-publish"></i>
                            <p>收费信息发布平台</p>
                        </div>
                    </li>
                    <li>
                        <div class="handle-cover">
                            <i class="iconfont icon-netloan"></i>
                            <p>P2P网贷平台</p>
                        </div>
                    </li>
                </ul>
            </div>
        
            <div class="group of">
                <div class="little-title">
                    <span>
                        <i class="bg-primary"></i>
                        <i class="bg-orange"></i>
                    </span>
                    <h3>需要的资质</h3>
                </div>
                <ul class="ex-box clearfix">
                    <li class="ex-item">
                        <i class="tag">1</i>
                        <p>经营者为依法设立的公司。</p>
                    </li>
                    <li class="ex-item">
                        <i class="tag">2</i>
                        <p>认缴注册资金全网至少1000万，地网至少100万。</p>
                    </li>
                    <li class="ex-item">
                        <i class="tag">3</i>
                        <p>属于全内资企业（注册资金不能有外资）。</p>
                    </li>
                    <li class="ex-item">
                        <i class="tag">4</i>
                        <p>股东及法人证件（股东及法人不能是外籍身份）。</p>
                    </li>
                    <li class="ex-item">
                        <i class="tag">5</i>
                        <p>有必要的人员、办公地址场所。</p>
                    </li>
                    <li class="ex-item">
                        <i class="tag">6</i>
                        <p>公司有良好的信息记录。</p>
                    </li>
                    <li class="ex-item">
                        <i class="tag">7</i>
                        <p>有可行性研究报告和相关技术方案。</p>
                    </li>
                </ul>
            </div>
        
            <div class="group of">
                <div class="little-title">
                    <span>
                        <i class="bg-primary"></i>
                        <i class="bg-orange"></i>
                    </span>
                    <h3>申请流程</h3>
                </div>
                <div class="flow-box of">
                    <div class="flow-cover">
                        <div class="head bg-gray">官方流程复杂繁琐</div>
                        <ul class="flow-cell">
                            <div class="line"></div>
                            <li class="left-cell">
                                <div>
                                    <span>甄别网站类别</span>
                                    <div class="tag"><i class="icon-search"></i></div>
                                </div>
                            </li>
                            <li class="right-cell">
                                <div>
                                    <div class="tag"><i class="icon-hardware"></i></div>
                                    <span>购买服务器空间</span>
                                </div>
                            </li>
                            <li class="left-cell">
                                <div>
                                    <span>搭建公司网站</span>
                                    <div class="tag"><i class="icon-net"></i></div>
                                </div>
                            </li>
                            <li class="right-cell">
                                <div>
                                    <div class="tag"><i class="icon-class"></i></div>
                                    <span>拟定基础材料</span>
                                </div>
                            </li>
                            <li class="left-cell">
                                <div>
                                    <span>网站域名备案</span>
                                    <div class="tag"><i class="icon-record"></i></div>
                                </div>
                            </li>
                            <li class="right-cell">
                                <div>
                                    <div class="tag"><i class="icon-post"></i></div>
                                    <span>网申或纸质材料提交</span>
                                </div>
                            </li>
                            <li class="left-cell">
                                <div>
                                    <span>出具网文自查报告</span>
                                    <div class="tag"><i class="icon-haw"></i></div>
                                </div>
                            </li>
                            <li class="right-cell">
                                <div>
                                    <div class="tag"><i class="icon-notice"></i></div>
                                    <span>领取受理通知书</span>
                                </div>
                            </li>
                            <li class="left-cell">
                                <div>
                                    <span>领取证书</span>
                                    <div class="tag"><i>证</i></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="flow-cover">
                        <div class="head bg-primary">我们来办只需五步</div>
                        <ul class="flow-cell">
                            <div class="line"></div>
                            <li class="center-cell">
                                <div class="lg-tag"><i class="icon-coo"></i></div>
                                <p>确定合作意向</p>
                            </li>
                            <li class="center-cell">
                                <div class="lg-tag"><i class="icon-comment"></i></div>
                                <p>商务合作洽谈</p>
                            </li>
                            <li class="center-cell">
                                <div class="lg-tag"><i class="icon-matter"></i></div>
                                <p>基础材料准备</p>
                            </li>
                            <li class="center-cell">
                                <div class="lg-tag"><i class="icon-examine"></i></div>
                                <p>提交审核</p>
                            </li>
                            <li class="center-cell">
                                <div class="lg-tag"><i">证</i></div>
                                <p>领取证书</p>
                            </li>
                        </ul>
                    </div>
                    <div class="vs"><img src="/Images/vs.jpg"></div>
                </div>

                <div class="call-box">
                    <div class="call-cover">
                        <a class="call-cell bg-primary">在线咨询</a>
                        <a class="call-cell bg-gray">TEL：0755-123456789</a>
                    </div>
                </div>
            </div>

            <div class="group of">
                <div class="little-title">
                    <span>
                        <i class="bg-primary"></i>
                        <i class="bg-orange"></i>
                    </span>
                    <h3>EDI服务分类</h3>
                </div>
                <ul class="classify-box clearfix">
                    <li>
                        <div class="classify-cover">
                            <i class="iconfont icon-apply"></i>
                            <h3>全网EDI许可证申请</h3>
                        </div>
                    </li>
                    <li>
                        <div class="classify-cover">
                            <i class="iconfont icon-user"></i>
                            <h3>地网EDI许可证申请</h3>
                        </div>
                    </li>
                    <li>
                        <div class="classify-cover">
                            <i class="iconfont icon-change"></i>
                            <h3>EDI许可证变更</h3>
                        </div>
                    </li>
                    <li>
                        <div class="classify-cover">
                            <i class="iconfont icon-annual"></i>
                            <h3>EDI许可证年检</h3>
                        </div>
                    </li>
                    <li>
                        <div class="classify-cover">
                            <i class="iconfont icon-logof"></i>
                            <h3>EDI许可证注销</h3>
                        </div>
                    </li>
                    <li>
                        <div class="classify-cover">
                            <i class="iconfont icon-rollover"></i>
                            <h3>EDI许可证续期</h3>
                        </div>
                    </li>
                </ul>
            </div>
             
            <div class="group of">
                <div class="little-title">
                    <span>
                        <i class="bg-primary"></i>
                        <i class="bg-orange"></i>
                    </span>
                    <h3>我们的承诺</h3>
                </div>
                <ul class="letter-box clearfix">
                    <li>
                        <div>
                            <div class="iconfont">
                                <i class="icon-recruit"></i>
                            </div>
                            <p>专业服务 品质保证</p>
                            <p>全国最专业的资质办理机</p>
                            <p>中国互联网企业专业服务</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <div class="iconfont">
                                <i class="icon-book"></i>
                            </div>
                            <p>全程服务</p>
                            <p>全国最专业的资质办理机</p>
                            <p>中国互联网企业专业服务</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <div class="iconfont">
                                <i class="icon-fast"></i>
                            </div>
                            <p>快速</p>
                            <p>全国最专业的资质办理机</p>
                            <p>中国互联网企业专业服务</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <div class="iconfont">
                                <i class="icon-aftersale"></i>
                            </div>
                            <p>保障</p>
                            <p>全国最专业的资质办理机</p>
                            <p>中国互联网企业专业服务</p>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="group of">
                <div class="little-title">
                    <span>
                        <i class="bg-primary"></i>
                        <i class="bg-orange"></i>
                    </span>
                    <h3>专业展示</h3>
                </div>

                <div class="img-box"><img src="/Images/bg_profession.jpg" alt=""></div>
                <ul class="reg-box clearfix">
                    <li>
                        <div>
                            <i class="iconfont icon-major"></i>
                            <h3>专业放心</h3>
                            <p>企业核心业务100%全自营</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <i class="iconfont icon-quality"></i>
                            <h3>品质保证</h3>
                            <p>所有产品均为资深专业办理</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <i class="iconfont icon-whole"></i>
                            <h3>全程服务</h3>
                            <p>提供个人企业初创到上市的一站式服务</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <i class="iconfont icon-aftersale"></i>
                            <h3>售后无忧</h3>
                            <p>企业专项产品经理全程跟踪服务</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- SP-许可证业务-->
        <div class="wrapper telecom-item">
            <div class="group">
                <div class="little-title">
                    <span>
                        <i class="bg-primary"></i>
                        <i class="bg-orange"></i>
                    </span>
                    <h3>什么是SP许可证</h3>
                </div>
                <div class="need-box clearfix">
                    <a href="../Images/SP.jpg" class="img-box">
                        <img class="zoom_image" src="/Images/SP.jpg" alt="">
                    </a>
                    <div class="need-info">全称：增值电信业务经营许可证-移动网信息服务</div>
                </div>
            </div>
            <div class="group of">
                <div class="little-title">
                    <span>
                        <i class="bg-primary"></i>
                        <i class="bg-orange"></i>
                    </span>
                    <h3>哪些服务需要办理</h3>
                </div>
                <ul class="handle-box clearfix">
                    <li>
                        <div class="handle-cover">
                            <i class="iconfont icon-haw"></i>
                            <p>信息搜索查询服务</p>
                        </div>
                    </li>
                    <li>
                        <div class="handle-cover">
                            <i class="iconfont icon-license"></i>
                            <p>信息社区平台服务</p>
                        </div>
                    </li>
                    <li>
                        <div class="handle-cover">
                            <i class="iconfont icon-protect"></i>
                            <p>信息保护和处理服务</p>
                        </div>
                    </li>
                    <li>
                        <div class="handle-cover">
                            <i class="iconfont icon-mutual"></i>
                            <p>信息即时交互服务</p>
                        </div>
                    </li>
                </ul>
            </div>
        
            <div class="group of">
                <div class="little-title">
                    <span>
                        <i class="bg-primary"></i>
                        <i class="bg-orange"></i>
                    </span>
                    <h3>需要的资质</h3>
                </div>
                <ul class="ex-box clearfix">
                    <li class="ex-item">
                        <i class="tag">1</i>
                        <p>经营者为依法设立的公司。</p>
                    </li>
                    <li class="ex-item">
                        <i class="tag">2</i>
                        <p>必要的运营人员、办公场地、办公设施。</p>
                    </li>
                    <li class="ex-item">
                        <i class="tag">3</i>
                        <p>有为用户提供长期服务的信誉或者能力。</p>
                    </li>
                    <li class="ex-item">
                        <i class="tag">4</i>
                        <p>公司主要经营管理人员有良好的信息记录。</p>
                    </li>
                    <li class="ex-item">
                        <i class="tag">5</i>
                        <p>注册资本认缴地网100万元人民币、全网1000万元人民币。</p>
                    </li>
                </ul>
            </div>
        
            <div class="group of">
                <div class="little-title">
                    <span>
                        <i class="bg-primary"></i>
                        <i class="bg-orange"></i>
                    </span>
                    <h3>申请流程</h3>
                </div>
                <div class="flow-box of">
                    <div class="flow-cover">
                        <div class="head bg-gray">官方流程复杂繁琐</div>
                        <ul class="flow-cell">
                            <div class="line"></div>
                            <li class="left-cell">
                                <div>
                                    <span>甄别网站类别</span>
                                    <div class="tag"><i class="icon-search"></i></div>
                                </div>
                            </li>
                            <li class="right-cell">
                                <div>
                                    <div class="tag"><i class="icon-hardware"></i></div>
                                    <span>购买服务器空间</span>
                                </div>
                            </li>
                            <li class="left-cell">
                                <div>
                                    <span>搭建公司网站</span>
                                    <div class="tag"><i class="icon-net"></i></div>
                                </div>
                            </li>
                            <li class="right-cell">
                                <div>
                                    <div class="tag"><i class="icon-class"></i></div>
                                    <span>拟定基础材料</span>
                                </div>
                            </li>
                            <li class="left-cell">
                                <div>
                                    <span>网站域名备案</span>
                                    <div class="tag"><i class="icon-record"></i></div>
                                </div>
                            </li>
                            <li class="right-cell">
                                <div>
                                    <div class="tag"><i class="icon-post"></i></div>
                                    <span>网申或纸质材料提交</span>
                                </div>
                            </li>
                            <li class="left-cell">
                                <div>
                                    <span>出具网文自查报告</span>
                                    <div class="tag"><i class="icon-haw"></i></div>
                                </div>
                            </li>
                            <li class="right-cell">
                                <div>
                                    <div class="tag"><i class="icon-notice"></i></div>
                                    <span>领取受理通知书</span>
                                </div>
                            </li>
                            <li class="left-cell">
                                <div>
                                    <span>领取证书</span>
                                    <div class="tag"><i>证</i></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="flow-cover">
                        <div class="head bg-primary">我们来办只需五步</div>
                        <ul class="flow-cell">
                            <div class="line"></div>
                            <li class="center-cell">
                                <div class="lg-tag"><i class="icon-coo"></i></div>
                                <p>确定合作意向</p>
                            </li>
                            <li class="center-cell">
                                <div class="lg-tag"><i class="icon-comment"></i></div>
                                <p>商务合作洽谈</p>
                            </li>
                            <li class="center-cell">
                                <div class="lg-tag"><i class="icon-matter"></i></div>
                                <p>基础材料准备</p>
                            </li>
                            <li class="center-cell">
                                <div class="lg-tag"><i class="icon-examine"></i></div>
                                <p>提交审核</p>
                            </li>
                            <li class="center-cell">
                                <div class="lg-tag"><i">证</i></div>
                                <p>领取证书</p>
                            </li>
                        </ul>
                    </div>
                    <div class="vs"><img src="/Images/vs.jpg"></div>
                </div>

                <div class="call-box">
                    <div class="call-cover">
                        <a class="call-cell bg-primary">在线咨询</a>
                        <a class="call-cell bg-gray">TEL：0755-123456789</a>
                    </div>
                </div>
            </div>

            <div class="group of">
                <div class="little-title">
                    <span>
                        <i class="bg-primary"></i>
                        <i class="bg-orange"></i>
                    </span>
                    <h3>SP服务分类</h3>
                </div>
                <ul class="classify-box clearfix">
                    <li>
                        <div class="classify-cover">
                            <i class="iconfont icon-gain"></i>
                            <h3>SP增项</h3>
                        </div>
                    </li>
                    <li>
                        <div class="classify-cover">
                            <i class="iconfont icon-put"></i>
                            <h3>SP申请</h3>
                        </div>
                    </li>
                    <li>
                        <div class="classify-cover">
                            <i class="iconfont icon-change"></i>
                            <h3>SP变更</h3>
                        </div>
                    </li>
                    <li>
                        <div class="classify-cover">
                            <i class="iconfont icon-annual"></i>
                            <h3>SP年检</h3>
                        </div>
                    </li>
                    <li>
                        <div class="classify-cover">
                            <i class="iconfont icon-logof"></i>
                            <h3>SP注销</h3>
                        </div>
                    </li>
                    <li>
                        <div class="classify-cover">
                            <i class="iconfont icon-rollover"></i>
                            <h3>SP续期</h3>
                        </div>
                    </li>
                </ul>
            </div>
             
            <div class="group of">
                <div class="little-title">
                    <span>
                        <i class="bg-primary"></i>
                        <i class="bg-orange"></i>
                    </span>
                    <h3>我们的承诺</h3>
                </div>
                <ul class="letter-box clearfix">
                    <li>
                        <div>
                            <div class="iconfont">
                                <i class="icon-recruit"></i>
                            </div>
                            <p>专业服务 品质保证</p>
                            <p>全国最专业的资质办理机</p>
                            <p>中国互联网企业专业服务</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <div class="iconfont">
                                <i class="icon-book"></i>
                            </div>
                            <p>全程服务</p>
                            <p>全国最专业的资质办理机</p>
                            <p>中国互联网企业专业服务</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <div class="iconfont">
                                <i class="icon-fast"></i>
                            </div>
                            <p>快速</p>
                            <p>全国最专业的资质办理机</p>
                            <p>中国互联网企业专业服务</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <div class="iconfont">
                                <i class="icon-aftersale"></i>
                            </div>
                            <p>保障</p>
                            <p>全国最专业的资质办理机</p>
                            <p>中国互联网企业专业服务</p>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="group of">
                <div class="little-title">
                    <span>
                        <i class="bg-primary"></i>
                        <i class="bg-orange"></i>
                    </span>
                    <h3>专业展示</h3>
                </div>

                <div class="img-box"><img src="/Images/bg_profession.jpg" alt=""></div>
                <ul class="reg-box clearfix">
                    <li>
                        <div>
                            <i class="iconfont icon-major"></i>
                            <h3>专业放心</h3>
                            <p>企业核心业务100%全自营</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <i class="iconfont icon-quality"></i>
                            <h3>品质保证</h3>
                            <p>所有产品均为资深专业办理</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <i class="iconfont icon-whole"></i>
                            <h3>全程服务</h3>
                            <p>提供个人企业初创到上市的一站式服务</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <i class="iconfont icon-aftersale"></i>
                            <h3>售后无忧</h3>
                            <p>企业专项产品经理全程跟踪服务</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

    </div>
    <div id="scroll-top">
        <i class="icon-up"></i>
        <span>返回顶部</span>
    </div>
    <footer>
        <div class="footer">
            <ul class="bottom-list">
                <li>
                    <p>关于我们</p>
                    <a href="/view/contact.html">公司简介</a>
                    <a href="#">企业文化</a>
                    <a href="#">企业荣誉</a>
                </li>
                <li>
                    <p>服务支持</p>
                    <a href="/view/telecom.html">电信增值业务审批</a>
                    <a href="/view/culture.html">网络文化审批</a>
                    <a href="/view/property.html">知识产权</a>
                    <a href="/view/business.html">工商与税务</a>
                    
                </li>
                <li>
                    <p>关注我们</p>
                    <a href="#" id="weibo">官方微博
                        <div class="qr-weibo">
                            <img src="/images/vs.jpg" alt="">
                        </div>
                    </a>
                    <a href="#" id="wechat">官方微信
                        <div class="qr-wechat">
                            <img src="/images/logo.png" alt="">
                        </div>
                    </a>
                </li>
            </ul>
            <dl class="company-num">
                <dd>地址： 广州天河区华景新城100栋10111</dd>
                <dd>电话： 15814203211</dd>
                <dd>邮编： 50000</dd>
                <dd>邮箱： yiqi@yiqi.com</dd>
            </dl>
            <div class="clearfix"></div>
            <div class="bottom-link">
                <p class="mt20">Copyright©2018 易企商服 All Rights Reserved </p>
                <p class="copyright"><span>易企商服科技有限公司 版权所有</span><a href="https://12321.cn/" rel="nofollow">"扫黄打非”举报专区</a></p>
                <p class="num-b"><a href="http://www.miitbeian.gov.cn/" target="_blank">粤ICP备18005298号-1</a></p>
            </div>
        </div>
    </footer>

	<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <!-- <script src="/Plugin/jquery.js"></script> -->
    <script src="/Plugin/layui/layui.js"></script>
    <script src="/Plugin/jqzoom.js"></script>
    <!-- <script src="/Plugin/jqzoom.js"></script> -->
    <!-- <script src="/Js/layout/bootstrap.min.js"></script> -->
    <script src="/Js/layout/site.js"></script>
    <script src="/Js/layout/root.js"></script>
    <script src="/Js/telecom/telecom.js"></script>
    <script type="text/javascript">
    $(document).ready(function(){ $("img.zoom_image").jqueryzoom({xzoom: 300,yzoom: 300}); });
    // $("img.jqzoom").jqueryzoom({
    //     xzoom: 400, //放大图的宽度(默认是 200)
    //     yzoom: 400, //放大图的高度(默认是 200)
    //     offset: 10, //离原图的距离(默认是 10)
    //     position: "right", //放大图的定位(默认是 "right")
    //     preload: 1
    // });
    </script>
</body>
</html>